[2014-10-02 13:58] harryhoch opened #1 "index displays overview"
index display overview even when target species submitted.

[2014-10-02 13:58] harryhoch opened #2 "change unmatched to one line"

[2014-10-02 13:58] harryhoch opened #3 "locate lower controls based on size of grid."

[2014-10-02 13:59] harryhoch opened #4 "load config via javascript, not json"

[2014-10-06 21:57] harryhoch opened #5 "eliminate redraw when sort order changes"
currently, a change in the sort order leads to a re-initialization of the grid, including a full reload of the data.  Revise to handle the sort without a full reload.

[2014-10-07 18:13] #4 closed, assigned to nobody

[2014-10-07 18:13] #2 closed, assigned to nobody

[2014-10-07 18:14] #1 closed, assigned to nobody

[2014-10-07 18:14] #3 closed, assigned to nobody

[2014-10-09 19:09] harryhoch opened #6 "hover for long-labels have disappeared."
https://github.com/monarch-initiative/monarch-app/issues/498

[2014-10-17 17:22] harryhoch opened #7 "highlight bug on phenogrid cell mouse-over"
Mousing over a cell in the phenogrid leads to appropriate highlight of the corresponding phenotype, but only if the mouse over is in the first column.

Successful highlight:

![screenshot2](https://cloud.githubusercontent.com/assets/174707/4682931/34dc9050-5622-11e4-8843-389686d45760.png)

buggy:

![screenshot1](https://cloud.githubusercontent.com/assets/174707/4682945/3b115104-5622-11e4-9381-4c1e

[2014-10-17 17:24] harryhoch opened #8 "refactor/re-engineer phenogrid"
Chuck has some ideas on improving the underlying design.

[2014-10-17 17:33] harryhoch opened #9 "coding standards"
It would be helpful to think about some coding standards. Aside from the refactoring ideas of trying to keep constants out of the code and trying to separate issues  - see https://github.com/monarch-initiative/phenogrid/issues/8 - I think it would be good to work towards some conventions.

For example, javascript callbacks. We have a bunch of code that looks like:

	    model_rects.enter()
		.appe

[2014-10-17 17:36] harryhoch opened #10 "performance"
Phenogrid load and initialize time is slow. Commit https://github.com/monarch-initiative/phenogrid/commit/0084b7f03611e4fa9a02af1ef03e7d998339b3a5 contains firebug profiling calls aimed at elucidating bottlenecks.

Based on my read of these results, it seems like the creation of gradients, the model labels, and the first part of creating the model rects ("mod-rects-basic") are particularly slow.

[2014-10-17 17:38] harryhoch opened #11 "support drill-down to genotypes"
For IMPC and potentially zfin use, we'd like to be able to drill-down from a gene to individual genotypes/strains affecting this gene.

This might mean, for example, clicking on a model name in a column and expanding out that column into multiple sub-columns, one for each related genotype.

Chuck has some thoughts on how this might be implemented in a focus+context model. Other options can be disc

[2014-10-24 12:23] #7 closed, assigned to nobody

[2014-10-24 12:24] #6 closed, assigned to nobody

[2014-10-28 12:45] #5 closed, assigned to nobody

[2014-10-29 15:48] nlwashington opened #12 "configurable phenotype axis"
right now, the rows are hard coded to be the phenotypes, with the columns being the results of the "search" query.

some of our users would like the presentation to be the opposite way.

this should be configurable.  in fact, it would be even better if the user could select the orientation with a toggle, but at minimum should be configurable by the system when setting up the instance of the grid.

[2014-10-29 18:53] harryhoch opened #13 "add details of cells on mouse over"
definitions of phenotypes/gene source information, and other things might be displayed below grid on cell mouseover

[2014-10-29 18:54] harryhoch opened #14 "better information on scores"
add details of scores - clarify info buttons and provide more details, perhaps with a worked example page.

[2014-10-30 21:08] harryhoch opened #15 "sort issues for overview with mouse genes"
Interesting things happen when we pull the phenogrid for a non-human gene pages. For these pages, the closest matches are associated with the relevant organism (mouse for the mouse pages, etc). however, the rows are still sorted with respect to similarity for the human page.

This leads to two problems:
1. the columns are in a funny order, as human models on the left may have lower similarity than

[2014-10-30 21:09] harryhoch opened #16 "move overview title into SVG"

[2014-10-31 01:39] harryhoch opened #17 "install/configure phenogrid on exomiser"

[2014-10-31 01:39] harryhoch opened #18 "configure /deploy on go/galaxy"

[2014-11-04 18:02] #16 closed, assigned to nobody

[2014-11-07 12:47] harryhoch opened #19 "overview section bugs"
overview section navigation - fix limits to avoid drag off the ege.

[2014-11-07 12:48] harryhoch opened #20 "overview section disappearance"
some drags can cause overview section control box drag coordinates to be wildly off, causing box to disappear.

[2014-11-07 12:53] harryhoch opened #21 "overview correctness"
alignment between contents of box in overview vs. main grid sometimes off, particularly for 3-species overview.

[2014-11-07 18:22] nlwashington opened #22 "size and scrolling issues & improvements"
i think the overall dispaly and navigation for the phenogrid needs improvement.  while the mini-map is really neat to look at, i find it very difficult to use to navigate around for a few reasons:

1.  in order to use the mapnav, i first have to click on it to get it to be in focus (not intuitive).  then i try to grab the map and drag it, but the exact shadowing of the box doesn't seem to exactly

[2014-11-07 18:34] nlwashington opened #23 "refactor color schemes"
having multiple colors, one for each species, is not a tractable solution, and the color in and of itself doesn't really convey any meaning.  although initially pretty in the overview, it seems a little gimmicky to me.

maybe we should consider moving to a simple greyscale, or perhaps consider using color to indicate category?  (somewhat related to https://github.com/monarch-initiative/monarch-app

[2014-11-07 18:42] nlwashington opened #24 "indication of IC of terms (source, target, & match)"
we currently indicate via shading the similarity between the terms (source/target) in common between the query and targets.

however, we should think about additionally indicating the IC of the source terms...this will give the user an indication of how rare that given phenotype is in the entirety of phenotypic data in the system.  some options to indicate the value for each (row) would be:
1.  li

[2014-11-07 18:54] nlwashington opened #25 "sorting without redrawing"
can we get the resorting to happen without disappearing, like this?  http://bost.ocks.org/mike/miserables/

[2014-11-18 02:14] #19 closed, assigned to nobody

[2014-11-18 02:14] #20 closed, assigned to nobody

[2014-11-18 02:15] #21 closed, assigned to nobody

[2014-11-25 18:50] mellybelly opened #26 "Odd layout issues"
On tartini when using Analyze phenotypes, see pic

![oddgrid](https://cloud.githubusercontent.com/assets/796636/5189242/dcc32a68-7490-11e4-8d61-9c605b6a7d9c.jpg)

[2014-11-25 22:23] nlwashington opened #27 "info box next to title won't popup"
on this disease page:
http://tartini.crbs.ucsd.edu/disease/OMIM_608902

i can't get the popup info box next to the title "Cross-Species Overview" to display.

[2014-11-26 14:27] #27 closed, assigned to harryhoch

[2014-11-27 03:38] #26 closed, assigned to harryhoch

[2014-12-01 19:00] nlwashington opened #28 "phenogrid disappears when no matching phenotypes found"
on Parkinson's Disease 7:
http://stage-monarch.monarchinitiative.org/disease/OMIM:606324

I played around, switching organisms.  But when I chose Drosophila, the grid completely disappeared.  This means that I now have to reload the page just to get the menu selections back to choose another organism.  I think keeping the general structure of the grid (perhaps with the unmatched phenotype listed)

[2014-12-01 19:07] nlwashington opened #29 "use more space/remove whitespace above cols"
there is a lot of unused whitespace above the column headers in the grid.  for example,
http://stage-monarch.monarchinitiative.org/disease/OMIM:606324
the column header labels are all cut off with ellipses, which is totally reasonable to do, but not when leaving so much whitespace leftover.  i think either make the labels longer and fill the whitespace, or remove the whitespace between the grid ti

[2014-12-01 19:12] nlwashington opened #30 "long disease titles overlapping column scores"
On this page:
http://stage-monarch.monarchinitiative.org/disease/OMIM:606324

The disease title, and therefore the left-hand side/phenotype column header, is not wrapped, and overflows into the column headers.  It needs some adjustment (preferably, wrapping).

![screen shot 2014-12-01 at 11 09 23 am](https://cloud.githubusercontent.com/assets/5124411/5251504/d6cd494a-794a-11e4-8394-b13c2c626785.pn

[2014-12-01 19:53] nlwashington opened #31 "sticky phenotype-column highlighting"
on this page:
http://stage-monarch.monarchinitiative.org/disease/OMIM:158320

i performed the following steps...there's several stickiness issues with row highlighting observed:
1.  hover on column header for the first column.  nearly all phenotype rows are highlighted, as they should be (although i think all should be highlighted - but this behavior is variable)
   ![screen shot 2014-12-01 at 11

[2014-12-01 20:23] #30 closed, assigned to VincentIII

[2014-12-02 15:46] #29 closed, assigned to VincentIII

[2014-12-03 13:38] #28 closed, assigned to boesb

[2014-12-03 15:30] VincentIII opened #32 "Crashing when selecting Alphabetic and/or moving the mini-map"
http://stage-monarch.monarchinitiative.org/disease/DOID:214

In some cases on the disease and analyze phenotype pages, selecting Alphabetic sort or moving the mini-map at all and then changing the sort, even if all results are being displayed, will crash the phenogrid.

In Javascript Console it comes up with the error "Uncaught TypeError: Cannot read property '0' of undefined" on line 786 which is

[2014-12-05 17:45] mellybelly opened #33 "don't display species in selector if no data"
If there is no data for a given species, then it should not be shown in the species selector. For example, here: http://tartini.crbs.ucsd.edu/disease/OMIM:610297
 if you click drosophila, you end up with a blank phenogrid page (as per #28 )

[2014-12-08 17:24] VincentIII opened #34 "Analysis Title Display Issues"
For most genotypes or anything with a very long name that requires 3+ lines of wrapping, it ends up being put under the left labels and gets cut off once it reaches the 4th.

![screenshot from 2014-12-08 12 22 04](https://cloud.githubusercontent.com/assets/800672/5343543/f7bc86d6-7ed4-11e4-8039-842a2105199e.png)

[2014-12-08 19:24] #31 closed, assigned to VincentIII

[2014-12-09 15:49] VincentIII opened #35 "Minimap resets position after any non-minimap changes"
If you move the minimap in any direction and then change the sort, the minimap resets its position back to the origin, which is not what is being displayed in the phenogrid.

So if I move the map down to the bottom:

![1](https://cloud.githubusercontent.com/assets/800672/5360185/af7438e4-7f90-11e4-900c-193500260120.png)

and then change the sort

![2](https://cloud.githubusercontent.com/assets/800

[2014-12-09 15:54] #32 closed, assigned to VincentIII

[2014-12-09 16:03] VincentIII opened #36 "Disease Label not reseting color when hovering over models"
If you hover over models and not touch any diseases or phenotypes, it will leave the last selected disease still blue, but does remove the bold.  If you hover over a disease or phenotype, it resets it properly.

![screenshot from 2014-12-09 11 02 04](https://cloud.githubusercontent.com/assets/800672/5360511/eca99cfc-7f92-11e4-8841-8f7efebefce6.png)

[2014-12-11 19:13] VincentIII opened #37 "Phenogrid false values when changing Display on single species"
http://stage-monarch.monarchinitiative.org/disease/OMIM:259710

While changing display types works fine when on overview, changing display on single species fills phenogrid with false/duplicate values.  For Example:

Right now I'm looking at the mouse with display automatically set to similarity:
![1](https://cloud.githubusercontent.com/assets/800672/5400075/effb4e7a-813e-11e4-8e7d-3d6477b1587b.pn

[2014-12-12 15:56] #37 closed, assigned to VincentIII

[2014-12-15 15:41] #35 closed, assigned to VincentIII

[2014-12-15 19:15] #36 closed, assigned to VincentIII

[2014-12-15 20:00] VincentIII opened #38 "Trimming of Phenotype Labels changes depending on model selected"
This seems to only affect phenotypes whose names are too long to fit in the display box without being trimmed.  If you select the match against the border to the left of the grid itself, it will trim the last characters/words (Ex: Chronic rhinitis due to narrow ...)

However if you select any other match, it will 'trim' from the first character/words instead (Ex: onic rhinitis due to narrow nasal

[2014-12-16 01:40] harryhoch opened #39 "add hpo"
Use HPO classes to categorize input phenotypes.

[2014-12-18 03:55] harryhoch opened #40 "problem with phenotype labels"
some labels are being overwritten. @VincentIII, please make this a top priority...
![pgrendering-error](https://cloud.githubusercontent.com/assets/174707/5483427/b983f2ec-863f-11e4-9aef-789629b55ff6.png)

[2014-12-18 20:17] #40 closed, assigned to VincentIII

[2014-12-23 19:15] harryhoch opened #41 "revise redraw"
much of the redraw code is redundant, unnecessarily being called when the sort order or display metric is updated. In these cases, the phenotype list, overview section, and cells might change, but the model lables, models scores, and unmatched phenotypes should not. All should change when selection of an alternative organism leads to data reload. Revise redraw to avoid this unnecessary overhead.

[2014-12-23 19:25] harryhoch opened #42 "clean up updateMethod"
the _updateModel procedure is redundant and should be replaced to a large extent with a call to _filterSelected.

[2015-01-02 15:13] harryhoch opened #43 "spinner"
the spinner markup doesn't seem to be visible - try loading /disease/OMIM:255800 and switch organism from overview to human. Instead of seeing the spinner/progress bar, the screen goes blank.

[2015-01-06 16:05] VincentIII commented on #43
I'm having difficulty recreating this bug.  I tried that disease as well as a few others and this is the results I get:

Chrome: No Spinner, but sometimes takes 5-10 seconds to load between species. Data always loads
Firefox: Spinner shows up, but no animation and data loads shortly after.  Same amount of time on average as Chrome takes

[2015-01-06 21:21] harryhoch commented on #43
hmm. sounds like you've recreated it, but unpredictably. Can you look into a revised spinner? I'm trying to avoid a blank screen when  there is a data reload.

Most of the processing time is on the owlsim server side, so comparable speeds are to be expected.

-harry

[2015-01-07 19:00] harryhoch opened #44 "add open-source license"
should be compatible with monarch-app

[2015-01-08 16:59] VincentIII opened #45 "Improper highlighting of matching models when hovering over phenotype"
If you hover over a phenotype and it matches up to similar diseases/genes, such as
Amelogenesis Imperfecta, Type Ic
Amelogenesis Imperfecta, Hypomaturation Type, Iia3
Amelogenesis Imperfecta, Hypomaturation Type, Iia2

The highlighting function will select all of them even if there isn't a match on phenogrid.  Its because the highlighting function changes the CSS based off short text, which all th

[2015-01-08 20:35] VincentIII commented on #45
Fixed with https://github.com/monarch-initiative/phenogrid/commit/f64bb86951010f42adb4e432c91be1ccc3e20b33

[2015-01-08 20:35] #45 closed

[2015-01-08 20:35] VincentIII commented on #38
Fixed with https://github.com/monarch-initiative/phenogrid/commit/f64bb86951010f42adb4e432c91be1ccc3e20b33

[2015-01-08 20:35] #38 closed

[2015-01-09 17:19] VincentIII commented on #34
Improved by keeping formatting between Overview and Single Species a bit more uniform.  Might be good to run a short_text on the content before putting it into the foreign object

![screenshot from 2015-01-09 12 18 06](https://cloud.githubusercontent.com/assets/800672/5683889/a8ac796e-97f9-11e4-9c68-6348a5afb033.png)

[2015-01-13 15:04] VincentIII commented on #34
Fixed with https://github.com/monarch-initiative/phenogrid/commit/eabf077588f4554931d198dfdf465db630d6d6bc

[2015-01-13 15:04] #34 closed

[2015-01-13 20:26] VincentIII commented on #42
Resolved

[2015-01-13 20:26] #42 closed

[2015-01-13 20:27] VincentIII commented on #25
Resolved

[2015-01-13 20:27] #25 closed

[2015-01-13 20:27] VincentIII commented on #10
Performance Improved

[2015-01-13 20:27] #10 closed

[2015-01-13 20:27] VincentIII commented on #8
Mostly Resolved

[2015-01-13 20:27] #8 closed

[2015-02-04 17:22] harryhoch opened #46 "unmatched phenotypes problems"
Unmatched phenotypes are sometimes causing problems, in two ways:

1. Labels are coming up as "undefined", instead of having the text for the phenotype.
2. Links are created relative to the originating site, not relative to the site where the phenogrid is being pulled from.

See this pic from the UDPICS installation:

![phenogrid-udpics-unmatched](https://cloud.githubusercontent.com/assets/174707/

[2015-02-04 17:23] harryhoch opened #47 "info box css transparent background"
on UDPICS, the info box comes up with a transparent background. Please check:

![updics-phenogrid-infopopup](https://cloud.githubusercontent.com/assets/174707/6045520/af341ce6-ac68-11e4-9fe2-4e77d77cf0a5.png)

[2015-02-04 17:54] VincentIII commented on #46
I believe that running phenogrid via /analyze does something similar.  It has to do with how the data pushed to /analyze is different from how reading info from a /disease page, so its unable to correctly read matches or in this case, non-matches.  I'll see if there is something I can do with altering how the unmatchedPhenotype functions handle data from somewhere other than the /disease pages

[2015-02-12 22:03] nlwashington opened #48 "issue with display of phenogrid in UDPICS"
this error was reported by the UDPICS folks.

it’s an issue on the Monarch side — perhaps this helps in some way?

![screen shot 2015-02-12 at 3 52 36 pm](https://cloud.githubusercontent.com/assets/5124411/6177988/cbd99d3c-b2bf-11e4-98cf-ee1635c4cc89.png)

[2015-02-13 16:00] VincentIII commented on #48
This is most likely from not having JSHashtable library installed on their setup.  They can get it from here:

http://www.timdown.co.uk/jshashtable/index.html

[2015-02-13 19:25] VincentIII commented on #46
The issue is partially fixed for /analyze pages and UDP.  While it doesn't display the label (as its not part of the provided PhenotypeData given to phenogrid), it will properly display the ID if the label is undefined.  There was a function that would do a call to grab the label from the servers, but it took around a minute per ID to get the labels, and would not be worthwhile to use as it slowed

[2015-02-13 19:49] VincentIII commented on #47
New class added that encompasses all of the background for the object now.  Works on my environment and should be a unique enough name that it shouldn't be overwritten by any of their CSS.

[2015-02-27 19:15] jnguyenx opened #49 "Add options for custom endpoints"
It would be nice to be able to define custom server endpoints. For the moment I'm forced to define a route like:

[code]

[2015-02-27 19:25] jnguyenx opened #50 "Handle long labels"
I would suggest to leave the cropped version of the label and add a popover with the full label on a hover.

![pheno1](https://cloud.githubusercontent.com/assets/4312088/6419578/36c4fc9a-be73-11e4-935e-151a1782ea5e.png)
![pheno2](https://cloud.githubusercontent.com/assets/4312088/6419579/36d61e30-be73-11e4-8eb1-3efe65e6b1f1.png)

[2015-03-02 16:59] nlwashington commented on #49
i think this is necessary for #17, and for displaying user-entered comparisons (as opposed to search) https://github.com/monarch-initiative/monarch-app/issues/522 and https://github.com/monarch-initiative/monarch-app/issues/325.

[2015-03-02 17:03] nlwashington opened #52 "phenogrid-format validator"
in order for other systems to use phenogrid, we need to provide a validator.  this could be a service and/or a standalone tool/script.  i think this is really important so that other groups who want to show their comparative data in our grid can, in particular with response to any changes in the way that phenogrid handles the incoming data structure.  i, for one, don't know what data in the given

[2015-03-02 17:12] harryhoch commented on #49
Not sure what is meant here - please provide more detail.

[2015-03-02 17:13] harryhoch commented on #52
Assume you mean a "validate that data as provided is appropriate for phenogrid" validator?

[2015-03-02 17:55] nlwashington commented on #52
yes, a simple tool that parses the data that phenogrid renders, and reports if it fails to:
1.  parse
2.  has required data elements for rendering

[2015-03-03 00:34] jnguyenx commented on #49
By default the Phenogrid will call a default path, the one mentioned above. It lacks of flexibility when one tries to connect another source of information, for instance what if I need more flags, etc..?

Another solution would be to let Phenogrid consume directly a JSON, so it become agnostic of the source of information, it can be a webserver, a file, etc...

[2015-03-03 02:30] harryhoch commented on #49
ok, thanks. This relates to both https://github.com/monarch-initiative/monarch-app/issues/555 and https://github.com/monarch-initiative/phenogrid/issues/52.

[2015-03-03 15:54] #48 closed

[2015-03-03 15:54] #47 closed

[2015-03-03 15:54] #46 closed

[2015-03-06 18:14] harryhoch opened #53 "orthologs"
highlight genes that are orthologous to human genes associated with displayed diseases.

[2015-03-17 17:17] #9 closed

[2015-03-17 17:17] #12 closed

[2015-03-17 17:19] #39 closed

[2015-03-17 17:19] #41 closed

[2015-03-19 17:47] VincentIII commented on #50
Fixed with https://github.com/monarch-initiative/phenogrid/commit/f8d2f3c2985c2f855ab6d144112f356c2e0abc88

[2015-03-19 17:47] #50 closed

[2015-03-20 16:15] VincentIII opened #54 "Location of Right Rect Overlaps based on models displayed, not axis length"
If for some reason the modelData that is loaded does not fill out the full x-axis length, the Right Rect will start overlapping with the Center Rect.  It seems everything is being positioned off of what ends up being displayed from modelData, not from the length of Center Rect's content.  This should be fixed to avoid issues like below:

![screenshot from 2015-03-20 12 12 32](https://cloud.githubu

[2015-03-26 15:13] VincentIII opened #55 "Labels for gradient not visible for non-homo-sapiens species"
![screenshot from 2015-03-26 11 09 47](https://cloud.githubusercontent.com/assets/800672/6849288/c7dc146c-d3a8-11e4-8d09-cd951f5ceaad.png)

For some reason when you are looking at any species on its own other than homo-sapiens it will not display the gradient label next to the gradient.  There is a bug in the _createGradients function where the variable Y is increased by a factor of 180 (so 360 fo

[2015-03-26 17:20] harryhoch commented on #53
relates to https://github.com/monarch-initiative/monarch-app/issues/361

[2015-03-26 19:19] nlwashington commented on #23
Also, I think that the currently configured color ranges are actually giving the user false information.  Because the scales have overlapping color ranges, it means that some scores that are identical have different colors, and some scores that have different values have the same color.  This is really confusing when viewing all the data together.  I think all the colors should be removed and only

[2015-03-26 20:30] harryhoch commented on #23
Ok. are you against multiple disjoint color scales?

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-03-26 20:54] nlwashington commented on #23
i am wishy-washy about disjoint color scales.  if you really think disjoint color scales is the way to go, then perhaps only one color per species. but i think i am against it, because color doesn't convey enough extra information, and i think we should reserve it for conveying something else (i have ideas about this).  not to mention that once we have > 7 species, it isn't tractable.

[2015-03-26 20:56] harryhoch commented on #23
Ok. let’s talk about color use next week, perhaps..

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-04-03 15:54] VincentIII commented on #22
1 has been resolved in previous updates.  2 & 3 are still needed

[2015-04-06 18:08] VincentIII opened #56 "Reduction of InvertAxis Dependent checks"
In order to allow for more OO-focused development the following functions need to be re-factored in some way to remove their dependencies on checking the axis status as well as assuming that phenotypes and models are on their original default axis.

**_highLightMatching/_deselectMatching/_deselectData** - Requires renaming of SVG DIV elements and better scanning method to see if their is a match o

[2015-04-07 14:44] VincentIII commented on #56
_showModelData now has the invertAxis dependency removed.  When moving closer towards OO, it would be suggested that this be changed around a little bit (such as naming and organization)

[2015-04-08 14:26] cborromeo opened #57 "fix external .js files accessible from a common location"
ask Harry about the stickyTooltip in js hashtable

can we use of npm package manager?  or phenogrid_config.js? for any external js files instead of adding them to pup_tent

[2015-04-09 15:19] VincentIII commented on #54
So this bug only appears as a companion bug when other issues may come up.  If you have less than 30 items on the X-Axis at load, it will look correctly.  However if for some reason you load at 30+ and fall below 30 at any point, it will cause this issue.  Its likely because the functions _createGridlines and _highlightSpecies (What creates the borders) are both built based off of what the X & Y m

[2015-04-09 17:45] VincentIII opened #58 "Darkening of modelScoresLabel + xLines when mini-map moved"
I just moved the modelScoresLabel into a more appropriate area and it made me notice a bug that likely has been around for a while but just now noticed.  On default this is what the line and mini-map look like:

![screenshot from 2015-04-09 13 40 46](https://cloud.githubusercontent.com/assets/800672/7072990/5774dbc0-debe-11e4-978e-cf33f08d8113.png)

However once you move the mini-map, it will dark

[2015-04-09 17:49] harryhoch commented on #58
thanks

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-04-09 18:14] nlwashington commented on #58
consider this ticket for general changes to the underlying code, not necessarily in response to mini-map specifically (as i think the mini-map should be deprecated #22)

[2015-04-09 19:34] nlwashington commented on #23
here is an example of issues with overlapping color scales across taxa giving false and/or confusing information.
![img_20150409_123003 2](https://cloud.githubusercontent.com/assets/5124411/7075167/b3a8c514-deb4-11e4-9eff-b3681382a4fe.jpg)

[2015-04-09 20:48] harryhoch opened #59 "refactor phenogrid in-common hover #499"
see https://github.com/monarch-initiative/monarch-app/issues/499  for details

[2015-04-09 20:48] harryhoch commented on #13
subsumed by https://github.com/monarch-initiative/phenogrid/issues/59

[2015-04-09 20:48] #13 closed

[2015-04-09 20:50] harryhoch commented on #15
low priority

[2015-04-09 20:54] harryhoch commented on #23
Nicole, what else would we use color for if not for similiarity?

[2015-04-09 20:54] harryhoch commented on #43
could not duplicate

[2015-04-09 20:57] harryhoch commented on #57
relates to https://github.com/monarch-initiative/monarch-app/issues/597

[2015-04-09 20:59] harryhoch opened #60 "loading data improvements"
Extract data load and transform to two new Javascript objects to separate loading concerns, isolated dependencies on owslim data format, simplify direct input of data as done with exomiser integration, etc.

perhaps include validator -https://github.com/monarch-initiative/phenogrid/issues/52

should address concerns related to https://github.com/monarch-initiative/phenogrid/issues/49

[2015-04-09 21:01] harryhoch opened #61 "rework rows and columns to be more flexible"
use oo or callback techniques to allow relatively easy realignment from vertical to horizontal and eliminate need for checks in code.

[2015-04-09 21:02] harryhoch opened #62 "make columns sortable"

[2015-04-09 21:03] harryhoch opened #63 "rework containers to refer to datacells"
indiviidual items should not be phenos, models, etc.

[2015-04-09 21:04] harryhoch opened #64 "other cleanup"
move toward mvc

[2015-04-09 21:04] harryhoch commented on #64
remove mentions of gene/phenotype, etc.

[2015-04-09 21:05] harryhoch opened #65 "localize mention of specific types to subfiles/objects"

[2015-04-10 16:49] VincentIII commented on #60
Right now in the loadData functions, _loadOverviewData calls _loadSpeciesData three times to compile it's own data.  _loadSpeciesData could be transformed into a constructor for speciesData, but then _loadOverviewData will have to be rebuilt to appropriately build it's own object based off the pre-created objects.  It would also be suggested that these objects be cached, similar to how the hpoCach

[2015-04-19 21:59] nlwashington commented on #23
here, i've mocked up an example so you can play with it in [codepen](http://codepen.io/anon/pen/pJzLad). (not sure how stable it is since i don't have an acct.)  here's screenshots:
![screen shot 2015-04-19 at 2 26 11 pm](https://cloud.githubusercontent.com/assets/5124411/7221442/1a04caa4-e6a0-11e4-943c-47a6d7a45b30.png)
![screen shot 2015-04-19 at 2 27 54 pm](https://cloud.githubusercontent.com/a

[2015-04-19 23:23] cmungall commented on #23
Nice! Not sure about showing the two numbers, maybe TMI to take in for an entire row? But overall I like the sizing and coloring

[2015-04-20 00:12] nlwashington commented on #23
yeah, i don't think we should show both numbers to users...  that was only here so you guys could see the combinations of values that went to produce the color and size.  we can think about what might be the most interesting rollover value to show...it is kindof nice to see numbers of some kind, so long as we can explain them well.

[2015-04-20 00:16] harryhoch commented on #23
This is definitely something that merits some discussion. I like the redundant use of both size and color for the IC/similarity content.

I have two concerns with the sizing.

1. Scaling factor. If I read your code correctly, it looks like the size of the circle is determined via a linear scale that assigns the score value to the radius. The problem with this approach is that as the resulting area

[2015-04-20 02:22] nlwashington commented on #23
the code doesn't have redundancy... the size and color saturation indicate different things:

color saturation = amount of similarity in the phenotypes between the row/column.  for example, if both the query and target are both annotated to the exact term "abnormality of the head", they would have a 100% similar phenotype, whereas if it was small eye (query) vs cloudy eye (target), their term in c

[2015-04-20 10:32] harryhoch commented on #23
@nlwashington, thanks.  I didn't read that closely regarding the coding.  I think it might be hard for users to understand the similarity/IC distinction, but we can try

understood also about the size of the cells/grid. I think it's always good to start with as much data as possible, but we could consider zoom-in. It's also possible to start with fixed size and to vary as the amount of data gets s

[2015-04-26 00:06] mellybelly opened #66 "hover over has a mislabeled entry"
It should say disease or genotype or model but instead it says phenotype

![phenogriderror](https://cloud.githubusercontent.com/assets/796636/7335366/339dab08-eb6d-11e4-9124-6d9ac61732a1.png)

for humans, I think this should be disease. For a model organism, I think model is probably best, as in some cases it won't be a genotype.

[2015-04-26 00:28] harryhoch commented on #66
@davism84 or @cborromeo , please take a look

[2015-05-05 20:58] kevinschaper opened #67 "Split phenogrid.css into file for widget and file for index.html"
I found when embedding the widget into a ZFIN page that phenogrid.css affects html at the body level, rather than just in the widget.

Secondarily, it might also be a good idea to use more specific css rules or class names, since sites may already have elements with ids like "logo" or "header", or maybe even the class name "tip"

[2015-05-06 01:21] harryhoch opened #68 "expando-icons don't work"
@davism84 , the hpo expand icons don't work when one is loading phenogrid outside of monarch-app. I think this may be a path problem . please investigate.

[2015-05-06 02:33] harryhoch commented on #67
@kevinschaper, I  think I have fixed this with https://github.com/monarch-initiative/phenogrid/commit/3b435696a74e5006dccf917c3ac1fa27f2bafb40. Please give it a try.

[2015-05-06 02:33] #67 closed

[2015-05-06 02:34] harryhoch commented on #67
@midavis, this fix has many small changes in css and js. Might be a bit of a pain to merge with some of your code, but shouldn't really overlap. Mirrored in monarch-app as usual

[2015-05-08 17:55] mjshepherd opened #70 ""waiting_ac.gif" is missing"

[2015-05-08 20:39] harryhoch opened #71 "rationalize image handling"
image path handling is a bit weird. come up with a single scheme for managing paths.

[2015-05-08 20:40] harryhoch commented on #70
fixed  by https://github.com/monarch-initiative/phenogrid/commit/ff29df9a2c7ff4426e216373acfbbd839d11f981
but see https://github.com/monarch-initiative/phenogrid/issues/71

[2015-05-08 20:40] #70 closed

[2015-05-11 18:15] nlwashington opened #72 "convert info icons to fontawesome"
to reduce dependencies and issues with images, consider using [fontawesome](http://fortawesome.github.io/Font-Awesome/cheatsheet/) for the info buttons

[2015-05-11 18:16] nlwashington opened #73 "convert monarch logo to svg"
a suggestion is to convert the monarch logo into an svg, so that all things on phenogrid are scalable.

[2015-05-11 18:17] nlwashington opened #74 "add toggle to hide minimap"
when refactoring the minimap, please consider adding a toggle to hide the whole rightside column.  (as suggested by @mjshepherd and @phenotips)

[2015-05-11 18:20] nlwashington opened #75 "buggy highlight on every 2nd entry"
as noticed by @mjshepherd, the phenogrid (including the one on the monarch's /page/phenogrid) has odd behavior in that the col/row highlights only occur on every 2nd entry to a given cell.  you can repeat this by mousing into a cell (where the highlights occur), then gently mousing out, then remousing in and it won't highlight, then mouseout again, and remouse in.  the final time it will highlight

[2015-05-11 18:22] nlwashington commented on #72
consider fa-info-circle ```[&#xf05a;]```

[2015-05-12 19:27] mjshepherd opened #76 "Tooltips render too far from their targets"
![screen shot 2015-05-12 at 3 27 27 pm](https://cloud.githubusercontent.com/assets/9931605/7596395/4fcd2898-f8bb-11e4-9dff-0794fb4cb522.png)

[2015-05-12 19:35] mjshepherd opened #77 "Bottom select input are difficult to click"
I think this may be caused by the svg element overlapping them.

[2015-05-19 18:28] kevinschaper opened #78 "List of HP ids for a DOID is too long for API"
We're fetching the collection of HP ids for a DOID, then feeding that to phenogrid.  For some terms, like DOID:2256, passing the list of HP ids to tartini.crbs.ucsd.edu fails with a "414 (Request-URI Too Large)" error.

If the server will take a post, that would be a quick way to solve it.   Alternatively, on the server side, it might be handy to have an endpoint that would take a DOID, just to ge

[2015-06-15 17:47] harryhoch opened #79 "merge npm install stuff to master"
Seth has prototyped an npm-based configuration setup at https://github.com/monarch-initiative/phenogrid/tree/npm-config-kltm.

We need to
a) merge this to master
b) revise index.html appropriately
c) revise gh-pages appropriately.

[2015-06-15 18:10] kltm commented on #79
I'm happy to field any questions about this. As well, once merged with master, I can help with the final steps of getting the documentation setup.

[2015-06-15 19:01] harryhoch commented on #79
Thanks, @kltm. @yuanzhou is just joining the team. He'll likely look into this once he gets a chance to get oriented.

[2015-06-26 02:59] #63 closed

[2015-06-26 03:00] harryhoch commented on #60
mike davis fixing this in monarch-app phenoMiz-hh branch  - will be moved back  into this repo when done.

[2015-06-26 03:00] #60 closed

[2015-06-26 20:06] yuanzhou commented on #77
It’s a CSS issue, the phenogrid_controls div and pg_svg_container div have overlaps due to the CSS sets phenogrid_controls with margin-top:-50px. I just removed the margin-top and the problem is fixed.

[2015-06-26 20:06] #77 closed

[2015-06-26 20:10] yuanzhou commented on #79
I've started a new branch called zy, and merged the kltm into a copy of the master code. I'm making changes and fixing bugs in the zy branch now. Once it's in a good shape, I'll send a pull request so it can be merged into the master branch before the July release date.

[2015-06-26 20:13] yuanzhou opened #80 "X labels overlaping - Only in npm version"
![capture](https://cloud.githubusercontent.com/assets/195873/8386408/0b7859de-1c1e-11e5-8c22-bf84500de307.PNG)

I’m refining the npm version of phenogrid, and for some unknown reason, when I drag the shaded bar in the overview region, the x labels get overlapped. This doesn’t not happen to the mater version, and I tried to copy the code from master and converted it into the npm version, still have

[2015-06-26 20:15] yuanzhou commented on #58
I noticed this issue too. Will look into it.

[2015-06-26 20:17] yuanzhou commented on #72
Another option is to use CSS sprite--a collection of images put into a single image. I'll check out fontawesome to see if there's any cross-browser problems. And work on this.

[2015-06-26 20:19] yuanzhou commented on #68
It's due to the image relative path. I've gotten it resolved in the phenogrid widget, will test it out or find a way to specify the absolute path for use in monarch-app.

[2015-06-26 20:25] yuanzhou commented on #73
I had the same thought and mentioned to Harry last week, will work on this later.

[2015-06-29 15:51] yuanzhou commented on #80
Fixed. Due to incorrect use of CSS class in D3 selector in `_clearXLabels()`

It was
[code]

And it should be
[code]

CSS classes x and axis are both used for the g element, they shouldn't be used together in selector.

[2015-06-29 15:51] #80 closed

[2015-06-30 13:39] yuanzhou opened #82 "_createXLines() and _createYLines() are called every time the overview map is dragged"
Every time when the overview shaded area is dragged in the overview map, the x regions and y regions get updated at the same time. As a result, the x line and y line strokes are created again and again. If you pay close attention, you will also notice the two lines get darken after you drag the overview in the map. We only need to create them once.

Once the phenogrid is flipped, everything is res

[2015-06-30 14:59] yuanzhou commented on #82
Added id x_line and y_line when creating each line, and added check to make sure only create the lines when there's none.

[2015-06-30 14:59] #82 closed

[2015-06-30 17:18] yuanzhou opened #83 "Model Scores Legend needs to be added after flip button clicked"
Right now when you flip the source and target by clicking the Flip button, this model scores legend is not created according, it only get created when you flip it back.

[2015-06-30 18:41] yuanzhou opened #84 "Labels of species overflow map rect"
![capture](https://cloud.githubusercontent.com/assets/195873/8438795/1ce76c80-1f36-11e5-8348-4378ea8f7e01.PNG)

[2015-06-30 20:28] nlwashington commented on #84
Also, these probably will go away when we move to a single-color scheme (see #23)

[2015-06-30 20:45] yuanzhou opened #85 "After flipping, Y labels get overlapped when dragging map"
![capture](https://cloud.githubusercontent.com/assets/195873/8441597/51e7950c-1f47-11e5-96f7-fc3af8b19ddc.PNG)

[2015-06-30 20:48] #85 closed

[2015-07-01 15:50] yuanzhou opened #86 "Missing disease title"
The disease title shows in monarch-app
![capture](https://cloud.githubusercontent.com/assets/195873/8458595/f000e092-1fe5-11e5-8a05-a54eb9e1a281.PNG)

but when you open phenogrid as a standalone widget, you won't be able to see the disease title, but just the title in the html title tag.

![capture](https://cloud.githubusercontent.com/assets/195873/8458750/bf299f62-1fe6-11e5-91b0-cdd96db3e41d.PNG)

[2015-07-01 18:00] yuanzhou commented on #75
Fixed by removing unnecessary code.

[2015-07-01 18:00] #75 closed

[2015-07-01 20:33] yuanzhou commented on #72
@nlwashington I've replaced the green info icon with fontawesome icon. It's great that we don't have to link to the image path. Will continue working on the rest. If you want to see the code, please go to the zy branch.

![capture](https://cloud.githubusercontent.com/assets/195873/8464257/d91bb3f6-200e-11e5-8c74-557bb4f7c7c6.PNG)

[2015-07-06 15:49] yuanzhou commented on #68
Already fixed. Will close this issue once I push the code changes to master branch.

[2015-07-06 18:38] yuanzhou opened #87 "Empty data region after crzay drag back and forth"
![capture](https://cloud.githubusercontent.com/assets/195873/8530033/8e560664-23ec-11e5-8752-c018a85f8a8e.PNG)

If you drag the overview map back and forth quickly, all the data cells will disappear.

[2015-07-07 13:22] yuanzhou opened #88 "Missing right and bottom borders of data cell tooltip"
![capture](https://cloud.githubusercontent.com/assets/195873/8546973/a16030de-2489-11e5-83db-81d2ac807017.PNG)

[2015-07-07 13:27] harryhoch commented on #88
might be just an aliasing problem. Try a tooltip with either 2 pixel border or no border…

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-07-08 22:06] jmcmurry opened #90 "License needed for phenogrid code"
@harryhoch
Recommendation is BSD-3 with Monarch Initiative as copyright holder [text here] (https://docs.google.com/document/d/1vC8zDPtmvyJy_UZ9m_LUVPpgsZkFz0AmLP14_ef21-I/edit)

[2015-07-08 23:48] jmcmurry opened #91 "Tooltips on hover over x-axis labels are a bit too sticky"
When I hover over x-axis labels on the grid and then move the mouse down the tooltip sticks until I mouse over another label. By contrast, the tooltip correctly disappears when mousing left, right or up from the label. Probably just a matter of tweaking the event listener.
![screen shot 2015-07-08 at 16 40 57](https://cloud.githubusercontent.com/assets/3658863/8584881/4592da10-2590-11e5-9e35-39bf5

[2015-07-09 01:14] harryhoch commented on #90
@jmcmurry, will discuss in email. Hoping to get something up soon.

[2015-07-09 02:46] yuanzhou commented on #84
I've already fix this in the zy branch, will push more changes to master tomorrow. Yes, I like the idea of single color scale. I've also mentioned Harry about this idea.

-----
I was doing readings on color selection in data visualization and found this site, http://colorbrewer2.com, mentioned in several articles. There are some good color scales based on research.

I'm thinking if it's a good ide

[2015-07-10 03:33] yuanzhou commented on #87
Fixed. Caused by d3 transition.

[2015-07-10 03:33] #87 closed

[2015-07-10 03:34] #88 closed

[2015-07-10 03:34] #84 closed

[2015-07-10 03:35] yuanzhou commented on #72
All images are replaced with font awesome icons. Except the monarch logo.

[2015-07-10 03:35] #72 closed

[2015-07-10 03:36] #71 closed

[2015-07-10 03:37] yuanzhou commented on #55
I've notice this too yesterday. Will look into it.

[2015-07-10 03:37] yuanzhou commented on #43
Removed from most recent version.

[2015-07-10 03:37] #43 closed

[2015-07-10 03:44] yuanzhou commented on #64
Should this issue be closed?

[2015-07-10 03:46] yuanzhou commented on #23
Noticed the Github color scheme.

![screen shot 2015-07-09 at 11 43 23 pm](https://cloud.githubusercontent.com/assets/195873/8611809/b10f166e-2694-11e5-8a59-ef22aa9d2798.png)

[2015-07-10 03:46] #68 closed

[2015-07-10 11:13] harryhoch commented on #64
not yet. we still have too many places in the code where "species" "phenotype", etc. are being used.

[2015-07-14 03:16] yuanzhou commented on #79
Have merged Dan's PR manually.

[2015-07-14 03:16] #79 closed

[2015-07-15 06:34] jmcmurry opened #94 "Organism should be documented when axis is in flipped mode"
Currently, what is now the "flipped" aka "inverted" mode lacks axis labels for organisms.

![screen shot 2015-07-14 at 23 17 14](https://cloud.githubusercontent.com/assets/3658863/8691996/89c5332a-2a7e-11e5-8101-a4c2b4475e91.png)

In pseudo-behave terms this would be:
[code]
Consider something like the below whereby the horizontal divider lines are extended into the axis, providing a natural frame

[2015-07-15 11:23] harryhoch commented on #94
@davism84, What do you think of this?

[2015-07-15 12:57] yuanzhou commented on #94
Personally, I feel it's more eye-friendly if the labels for organisms to be placed on the right.

![capture](https://cloud.githubusercontent.com/assets/195873/8698897/809838be-2acf-11e5-815a-40a5fd99f297.PNG)

(I didn't have photoshop, so captured a screenshot of two overlapped images)

[2015-07-15 13:29] harryhoch commented on #94
@yuanzhou , the problem is that we don't want to be dealing with layout mess on the right, which complicates matters.

@davism84, can we consider some sort of transient mouse-over that would show the target class (ie, organism) when we mouse over the right region?

[2015-07-16 13:34] harryhoch commented on #44
replaced by https://github.com/monarch-initiative/phenogrid/issues/90

[2015-07-16 13:34] #44 closed

[2015-07-16 13:40] yuanzhou opened #96 "Missing styling of pg_detail_content in firefox"
![capture](https://cloud.githubusercontent.com/assets/195873/8724820/a390ebf2-2b9e-11e5-8643-8adf5c41e5b6.PNG)

[2015-07-16 13:42] yuanzhou commented on #96
id `pg_detail_content` was applied to svg's foreignobject, CSS styling applied to this id won't work properly in firefox. Now applied the CSS to `#pg_detail_content div` to solve this issue.

[2015-07-16 13:42] #96 closed

[2015-07-16 13:48] yuanzhou opened #97 "Disease title and pg_detail_content tooltip not showing in IE"

[2015-07-16 13:49] yuanzhou commented on #97
According to https://msdn.microsoft.com/en-us/library/hh834675(v=vs.85).aspx, IE11 and below do not support `<foreignObject>`

[2015-07-16 13:49] #97 closed

[2015-07-16 20:00] yuanzhou commented on #86
Removed this.

[2015-07-16 20:00] #86 closed

[2015-07-16 20:35] davism84 opened #98 "npmify the refact-md branch"
npmify the refact-md branch

[2015-07-17 00:59] mellybelly opened #99 "when phenotypes are on horizontal axis, use all the space"
For example, this page: http://beta.monarchinitiative.org/disease/OMIM%3A147920
if you flip the axis you still have to use the browser window to navigate to the right, even though all the phenotypes would fit on the page if the browser box wasn't there.

[2015-07-17 01:56] harryhoch commented on #99
planned redesign will move the overview and color scales away from the right-hand side.

[2015-07-20 15:25] yuanzhou commented on #97
Replaced this foreignObject-based tooltip with the stickytooptip used for X and Y labels. No more foreignObject use. Thanks @davism84 for the suggestion and help.

[2015-07-20 16:40] yuanzhou opened #103 "De-highlighting intersection on mouseout doesn't work in IE 11"
![capture](https://cloud.githubusercontent.com/assets/195873/8781357/7ad56cf6-2edc-11e5-98c6-615ac14141e8.PNG)

[2015-07-20 18:21] davism84 opened #104 "Comparison view border outlines"
adjust the outline borders around the multiple species comparison view. see _createSpeciesBorderOutline:

[2015-07-20 18:24] davism84 opened #105 "Mouse over intersection row and column highlighing"
see **_cellover**   also, createGrid which has the .on("mouseover")

see http://faculty.dbmi.pitt.edu/harryh/monarch/udp/index.html for a demonstration of mouse-over highlights via differential styling

[2015-07-20 18:27] davism84 opened #106 "improved color scales - non-overlapping colors"
improved color scales - non-overlapping colors, ideally done in CSS if possible

[2015-07-20 18:28] davism84 opened #107 "Labels for multi-organism overview"
Labels for multi-organism overview moved to outside of target labels, with overlap and “watermark” effect

[2015-07-20 18:28] davism84 opened #108 "HPO expansion"

[2015-07-20 18:29] davism84 opened #109 "Configuration/input processing"
make improvements on configuration/input processing

[2015-07-20 18:31] davism84 opened #110 "configuration display"
configuration display, see [#464](https://github.com/monarch-initiative/monarch-app/issues/464)

[2015-07-20 18:33] davism84 opened #111 "refactor layout"
(no right/bottom stuff)

[2015-07-20 18:33] davism84 opened #112 "bug squashing on overview"

[2015-07-20 18:34] davism84 opened #113 "genotype expansion"

[2015-07-20 18:35] davism84 opened #114 "replace foreign object for tool tip"
this has been fixed using the stickytooltip for all tooltip

[2015-07-20 18:35] #114 closed

[2015-07-20 20:05] davism84 opened #116 "expandable panel for show/hiding extra options"
place sorting, display and flip axis into this expandable panel

[2015-07-20 20:06] davism84 opened #117 "Multi-organism (species) selection dropdown box"
change dropdown to allow multiple organisms to be selected for Cross-organism comparison view

[2015-07-22 13:07] yuanzhou commented on #98
Will port the npm config from phenogrid master to refact-md on my own branch, then send a pull request.

[2015-07-22 23:46] kshefchek opened #119 "TypeError on anaylze results page"
I'm getting

        TypeError: jQuery(...).phenogrid is not a function

 on the analyze results page, for example: http://beta.monarchinitiative.org/analyze/phenotypes/?input_items=MP%3A0001399+HP%3A0006801&mode=search&target_species=all&limit=100

[2015-07-23 01:14] harryhoch commented on #119
Ah. monarch-app/Analyze.js must be revised to deal with the new convention for creating a Phenogrid. @yuanzhou, please look into this and make appropriate revisions in Analyze.js, mirroring code that is in
phenogridloader-no-species.js

[2015-07-23 03:18] kshefchek opened #120 "Minify phenogrid-bundle.js"
phenogrid-bundle.js takes about 1.5-2 seconds to load, would it be possible to minify the file?

[2015-07-23 16:27] yuanzhou commented on #120
@kshefchek I'll do a minify before the release. Right now it's good to have that non-minified version for debugging purpose.

[2015-07-23 16:33] yuanzhou commented on #119
Already fixed.

https://github.com/monarch-initiative/monarch-app/commit/84ea9eaea1dc4bd28e43c2f041d15809c009c122

[2015-07-23 16:33] #119 closed

[2015-07-23 16:39] davism84 commented on #108
created a **getOntology()** in the dataLoader to handle loading of ontology elements

[2015-07-23 19:26] yuanzhou commented on #98
npm stuff got ported from the current master to the new branch named npm-refact-md based on the refact-md branch.

[2015-07-23 19:26] #98 closed

[2015-07-24 20:54] nlwashington commented on #23
can we please move to a single color scale?

[2015-07-25 00:08] jmcmurry commented on #23
+1 for a single color.  (Eg shades of blue) or for standard mat lab heat map colors, as they're well understood.

[2015-07-25 02:32] harryhoch commented on #23
I still think we need multiple colors for the multi-organism overview.

[2015-07-25 03:25] nlwashington commented on #23
i do not think we need different colors for each species.  for the reasons above, i think one color is sufficient.  the species are visually separated by the thick line and labeled in the header, so color does not provide additional information.  it is pretty, but i don't think the gee-wiz factor overrides accuracy and functionality in the presentation.  i am okay with leaving this as a configurab

[2015-07-25 04:07] harryhoch commented on #23
Other than the overlap, what is the objection to the multiple colors? If we use three disjoint scales, would that address the problem? @yuanzhou, @davism84, can you look into an alternative range for the third scale?

[2015-07-25 04:21] cmungall commented on #23
I'm color illiterate but bearing that in mind:

There are more than 3 species out there; and other ways of grouping result sets (e.g human canonical patients/diseases vs actual patients). We will start adding more soon. I'm not sure what the algorithm is for n species/groupings.

Sometime I get confused as to how similar phenogrid thinks the match is to the query. I think having a consistent color

[2015-07-25 04:33] harryhoch commented on #23
Agreed on configurability, @yuanzhou, and @midavis, please note as a needed configuration.

So, as I understand it, the concern is comparing the degree of similarity across species? That’s a fair concern..I hate to lose the appealing color, but if we are confusing people, that’s not good.

@yuanzhou, @midavis, let’s discuss on Monday.

On Jul 25, 2015, at 12:21 AM, Chris Mungall <notifications@git

[2015-07-26 02:44] harryhoch opened #122 "check on unmatched phenotypes."
@yuanzhou - please look into the unmatched phenotypes and see if it is working correctly.

[2015-07-26 02:46] harryhoch commented on #23
@yuanzhou, can we consider going to one color scheme for all organisms and then using a subtle colored background for the organisms in the multi-organism view?

[2015-07-27 13:00] yuanzhou commented on #122
@harryhoch I tried to see how the output of unmatched phenotypes look like, but there's nothing showed up after I clicked that checkbox, and the Homo sapiens says there's no Unmatched phenotypes. Do I need to add some random phenotypes in the config to see this?

[2015-07-27 13:07] yuanzhou commented on #120
@harryhoch Do you think I should do the minify for the release version? gulp-uglify is used for this purpose and I add simply add a pile call to do the JS minify. I can also add the css minify.

[2015-07-27 13:31] harryhoch commented on #120
sure. if you see no concerns, go for it

On Jul 27, 2015, at 09:08, yuanzhou <notifications@github.com<mailto:notifications@github.com>> wrote:

@harryhoch<https://github.com/harryhoch> Do you think I should do the minify for the release version? gulp-uglify is used for this purpose and I add simply add a pile call to do the JS minify. I can also add the css minify.

-
Reply to this email directly

[2015-07-27 14:31] yuanzhou commented on #120
Added js and css minify.

phenogrid-bundle.js file size 1160K -> 520K
phenogrid-bundle.css file size 51K -> 37K

[2015-07-27 14:31] #120 closed

[2015-07-27 14:47] harryhoch commented on #122
Yes, that’s probably worth a try.

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-07-27 19:07] davism84 commented on #122
Possible solution for the refactoring unmatched list that Joe and I talked about:
1. include unmatched phenotypes within the full grid listing, but have the font as strike-through or grayed out.
2. include in the control options panel an checkbox option to toggle on/off the unmatched items (could also default them to be turned-off and provide an indicator that notes there are unmatched sources

no

[2015-07-27 19:12] harryhoch commented on #122
how does #2 differ from what we have now?

[2015-07-27 19:16] davism84 commented on #122
the toggle is the same, but what we are proposing it to just keep unmatched within the grid verse at the bottom of the screen.

[2015-07-27 19:16] harryhoch commented on #122
at the bottom. They could become cumbersome in the grid

[2015-07-27 19:18] davism84 commented on #122
ok, no problem

[2015-07-28 15:58] yuanzhou commented on #122
Unmatched phenotypes is working now. Refactored the unmatched HTML rendering/jquery toggle, and  added ajax to fetch the unmatched phenotype label since it's not presented in the `unmatchedPhenotypes` array.

Notes:

- For phenotype page, the id format in URL, e.g., HP_0000746 will be redirected to HP:0000746
- For monarch-app json API, phenotype id format must be HP:0000746, don't use HP_0000746,

[2015-07-28 15:58] #122 closed

[2015-07-28 16:12] #58 closed

[2015-07-28 19:03] yuanzhou commented on #55
It's a weird javascript issue.

[code]

generates the correct result but
[code]
won't produce the same.

The bug was caused by using the second expression, after some debugging, I realized only using the first expression will fix this issue. Will do more research on this JS thing.

[2015-07-28 19:03] #55 closed

[2015-07-28 19:46] yuanzhou commented on #55
It turned out that that `i` is a string.

[2015-07-28 20:24] davism84 opened #123 "user-defined labeling for the UI labels"
Since we are now supporting source, target, and targetgroup internally within the code, we may want to allow the UI labels to be configuration variables so that they can match accordingly
i.e.,  sources = phenotype;
target = gene, disease, model ;
targetgroup = containers for targets - human, mus musculs, etc.

[2015-07-28 20:33] yuanzhou commented on #55
Did more debugging around this issue, turned out that the `i` was returned from `_getTargetSpeciesIndexByName()` which returns the index, and index is a string.

![t](https://cloud.githubusercontent.com/assets/195873/8942970/434d5350-3546-11e5-882b-f170e284a88a.png)

Used `parseInt()` to type cast into int.

[2015-07-28 20:36] yuanzhou commented on #122
Further debugging with Mike showed us that the phenotype label is not in the `unmatchedPhenotypes` array. But when embed phenogrid into monarch-app, the disease page returns the `phenotype_list` based that that disease, and the returned array contains label of each phenotype. That's why it worked with monarch-app, but didn't work as a standalone app.

[2015-07-29 13:47] yuanzhou commented on #66
I'm fixing this bug. So
human: disease
mouse: gene
fish: gene

When should I use model or genotype? @harryhoch

[2015-07-29 13:51] harryhoch commented on #66
When we drill down into the constituent genotypes for mouse/fish, we will be comparing to genotypes..

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-07-29 13:56] yuanzhou commented on #66
For the current master branch, there's no genotype, only disease or gene, am I correct? @harryhoch

[2015-07-29 14:10] harryhoch commented on #66
yes

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-07-29 14:35] yuanzhou commented on #66
Caused by the use of jquery's extend() without considering the x and y flip. extend({}, obj1, obj2), if obj1 and obj2 have the same properties, the ones in obj2 will overwrite the ones in obj1.

[2015-07-29 14:35] #66 closed

[2015-07-29 14:40] yuanzhou commented on #90
@harryhoch do you have the license decided? If so, I can update that in the package.json before the release.

[2015-07-29 14:41] harryhoch commented on #90
not yet, unfortunately.

[2015-07-29 14:59] mellybelly commented on #90
@harryhoch will this be available before our release?

[2015-07-29 15:29] harryhoch commented on #90
working on some feedback from our legal team.

[2015-07-30 06:16] jmcmurry opened #125 "CORS error causes phenogrid to churn with no result"
On Mac OSX Mavericks and Chrome
* I go to http://beta.monarchinitiative.org/disease/DOID%3A5723
and click on Compare
* It takes >3 seconds for the "loading phenogrid" message to show up
* Once shown, the spinner doesn't stop

Looking at the source of the problem, I get a 413 (Full head)
The first item in the list is a CORS one: J.ajaxTransport.G.cors.t.crossDomain.send
Please advise; does this hav

[2015-07-30 06:32] jmcmurry opened #126 "Notify users when Phenogrid won't load due to an error"
In the event that Phenogrid won't load due to error(s), it would be good to see a simple notification to the user so that they know what to expect. Perhaps also include an indication of where to log a ticket would be good as well.
See https://github.com/monarch-initiative/phenogrid/issues/125

[2015-07-30 11:49] harryhoch commented on #125
Interesting. 413 HTTP code is a "Request Entity" too large. This page has 663 phenotypes. Ouch. Any thoughts on what we can do here to handle this sort of request? Is Ringo at all configurable? @cmungall ,@kltm

[2015-07-30 11:50] harryhoch commented on #126
yes. @yuanzhou, can you look into the error in https://github.com/monarch-initiative/phenogrid/issues/125, and see if we can handle it more gracefully?

[2015-07-30 15:13] yuanzhou commented on #125
The current version still uses HTTP GET to send out those phenotypes, 663 phenotypes may cause the URL too long. Kent has changed it to POST, but I haven't been able to merge his PR due to some local testing errors.

[2015-07-30 15:19] cmungall commented on #125
Well it's really 663 phenotype associations, the same phenotype may be
there twice if it's associated with different leaf diseases. I assume
they are being uniqified before sent?

On 30 Jul 2015, at 4:49, Harry Hochheiser wrote:

[2015-07-30 16:53] harryhoch commented on #125
@cmungall, Phenogrid does no filtering of input phenotypes before sending the response to /simsearch. We could add a filter in phenogrid, or in the /simsearch call - where's the best spot?

[2015-07-30 18:00] yuanzhou commented on #23
Updated to one color scale.

![capture](https://cloud.githubusercontent.com/assets/195873/8990899/2d1cbcdc-36c3-11e5-9d39-04532512b1de.PNG)

Will need to do more research to decide the final number of data classes and the actual color scheme.

[2015-07-30 19:45] yuanzhou commented on #23
Updated to the blue scale based on the feedback from meeting.

[2015-07-31 02:31] harryhoch opened #128 "add graph navigation to phenotypes/sources"
use ontological structure of HPO or other source  to organize phenotypes and to facilitate roll-up drill-down. See https://github.com/monarch-initiative/monarch-app/issues/178 for discussion

[2015-07-31 02:34] harryhoch opened #129 "refactor phenogrid in-common hover"
hovering over a cell should show not only match and subsumer, but trails from input/match to subsumer. See https://github.com/monarch-initiative/monarch-app/issues/499 for details.

[2015-07-31 02:35] harryhoch commented on #129
duplicated https://github.com/monarch-initiative/phenogrid/issues/59

[2015-07-31 02:35] #129 closed

[2015-07-31 02:37] harryhoch opened #130 "enhancement of unmatched phenotypes"
We should have the ability to see the unmatched phenotypes for the profile on the left list, as well as for any column. Basically, if you were interested in comparing a patient against a particular model (as in UDPICS), you want to be able to see what phenotypes do not match against the two, almost as much as those that do.

@harryhoch I wonder if we can think of an approach that is consistent for

[2015-07-31 02:38] yuanzhou commented on #126
Have added the popup dialog for ajax errors, will refine it later

[2015-07-31 02:39] harryhoch opened #131 "fix for android"
phenogrid might not function on android devices. see https://github.com/monarch-initiative/monarch-app/issues/253

[2015-07-31 02:40] harryhoch opened #132 "Genes in model viewer that are in pathways should be highlighted"
see https://github.com/monarch-initiative/monarch-app/issues/208

[2015-07-31 02:40] yuanzhou commented on #125
One feed back from today's meeting about filtering the phenotype input is to check duplicated phenotype IDs.

[2015-07-31 02:40] harryhoch opened #133 "highlight known causative genes or models on grid view"
see https://github.com/monarch-initiative/monarch-app/issues/264

[2015-07-31 02:42] harryhoch opened #134 "Tooltip for phenogrid cells - showing species in phenotype label is confusing"
see https://github.com/monarch-initiative/monarch-app/issues/311

[2015-07-31 02:43] yuanzhou commented on #125
Issue fixed after using the ajax POST. @harryhoch

[2015-07-31 02:44] harryhoch commented on #134
see also https://github.com/monarch-initiative/phenogrid/issues/59

[2015-07-31 02:44] harryhoch commented on #134
see also https://github.com/monarch-initiative/phenogrid/issues/59

[2015-07-31 02:45] harryhoch opened #135 "ortholog phenotype matrix viewer"
https://github.com/monarch-initiative/monarch-app/issues/325

[2015-07-31 02:48] harryhoch opened #136 "consider always including orthologous genes in disease match grid"
see https://github.com/monarch-initiative/monarch-app/issues/361

[2015-07-31 02:49] harryhoch opened #137 "allow users to fetch additional models (>100)"
see https://github.com/monarch-initiative/monarch-app/issues/388

[2015-07-31 02:51] yuanzhou opened #138 "Change model scores color from gradient to one color to improve readability"
![screen shot 2015-07-30 at 10 50 49 pm](https://cloud.githubusercontent.com/assets/195873/8999811/74d41a30-370d-11e5-95e6-0a996eb9207a.png)

[2015-07-31 02:51] harryhoch opened #139 "improve navigation across source-target space"
Suggestion had been to add scrollbars (https://github.com/monarch-initiative/monarch-app/issues/416), but other designs might be possible as well.

[2015-07-31 02:52] harryhoch opened #140 "support search for off-window results"
see https://github.com/monarch-initiative/monarch-app/issues/417

[2015-07-31 02:54] harryhoch opened #141 "improve configuration for phenogrid"
see https://github.com/monarch-initiative/monarch-app/issues/464 for a detailed design and discusison

[2015-07-31 02:54] yuanzhou opened #142 "Update Uniqueness result to percentage"
Currently it uses the IC score in common as the Uniqueness result, will change this to a calculated percentage.

According to the help text in popup:

Should the correct calculation be

[code]

Am I right? @harryhoch

[2015-07-31 02:55] harryhoch opened #143 "downloadable report"
some way to export both phenotype/genotype matrix and details to a format suitable for publication/redistribution. https://github.com/monarch-initiative/monarch-app/issues/488

[2015-07-31 03:26] yuanzhou commented on #138
Changes made. Now `.pg_model_score` in CSS defines the text color of the model scores. Also got rid of duplicated id attr `pg_scorelist` and class attr `scores`.

[2015-07-31 03:26] #138 closed

[2015-07-31 04:06] yuanzhou commented on #142
Already changed, @harryhoch please double check and let me know if I can close this issue or you can just close it.

[2015-07-31 04:07] yuanzhou commented on #134
I noticed this too, it's also redundant to show the species in tooltip.

[2015-07-31 10:54] harryhoch commented on #142
@yuanzhou, I will spend a bit of time on this and let you know later this morning.

[2015-07-31 13:13] yuanzhou opened #144 "Generating index.html on Mac causes unwanted # signs"
When generating index.html on Mac, the source code will contain # signs in the headings from the README.md. Everything was fine if generating the bundle on Linux (I tried CentOS with no issues).

For example, in README.md,
[code]
will be converted to
[code]
using marked on Mac.

While it looks like

[code]

when generated on Linux.

[2015-07-31 13:19] yuanzhou commented on #144
Not sure if it's because there's no whitespace between the # and the heading content. Will

[code]
resolve this  issue? It was correct when I merged your PR couple weeks ago. @DoctorBud, can you please help me test this out since I don't have a Mac at work? Thx!

[2015-07-31 14:17] yuanzhou commented on #144
Tested this with Harry, adding a whitespace after each # for the headings solved this issue.

[2015-07-31 16:14] yuanzhou commented on #125
Already added check to remove any duplicated phenotypes before sending them out to simsearch.

[2015-07-31 16:14] #125 closed

[2015-07-31 16:24] yuanzhou commented on #106
Used colorbrewer's one color scale.

https://github.com/monarch-initiative/phenogrid/issues/23

[2015-07-31 16:32] #126 closed

[2015-07-31 16:33] #144 closed

[2015-07-31 16:35] yuanzhou commented on #134
What's the decision on this? Remove species from hover over tooltip? @harryhoch

[2015-07-31 16:37] yuanzhou commented on #78
Switched from http get to http post for ajax request to simsearch. Resolved the 414 and 413 errors.

Also added check to remove duplicated phenotypes before sending the request to simsearch, speed improved too.

[2015-07-31 16:37] #78 closed

[2015-07-31 16:42] yuanzhou commented on #57
Should we close this issue? @harryhoch

[2015-07-31 16:44] yuanzhou commented on #76
@davism84 I remember you told me something about this, was this related to the exomiser?

[2015-07-31 17:08] yuanzhou commented on #83
Now the model score faq info icon stays at the left top edge of the grid region regardless of flipping.

![capture](https://cloud.githubusercontent.com/assets/195873/9012730/347b3e82-3785-11e5-9b06-b0b5fde3b476.PNG)
![capture2](https://cloud.githubusercontent.com/assets/195873/9012731/347bf41c-3785-11e5-97db-e153ffd9e056.PNG)

[2015-07-31 17:08] #83 closed

[2015-07-31 17:09] #57 closed

[2015-07-31 17:10] harryhoch commented on #134
@yuanzhou, this needs discussion. see https://github.com/monarch-initiative/monarch-app/issues/311

[2015-07-31 17:14] yuanzhou commented on #134
For now I think we still need it especially after clicking the flip button.

[2015-07-31 19:04] davism84 commented on #106
Updated refactored code with single color scale code from master

[2015-07-31 19:04] #106 closed

[2015-07-31 19:08] davism84 commented on #112
seems to be working fine.

[2015-07-31 19:08] #112 closed

[2015-08-01 19:34] harryhoch opened #145 "remove ontology labels from phenotype labels"
See https://github.com/monarch-initiative/monarch-app/issues/871:..

When you run the PhenoGrid starting from a mouse model, you can "click on icon to expand HPO info". However, the ontology is MPO rather than HPO. A similar comment applies to fish terms on the left.
Maybe we should replace this for now with "click to expand phenotype info"

@yuanzhou , please take a look.

[2015-08-03 14:37] yuanzhou commented on #145
According to the inoput from @harryhoch, I'll change the text to “expand classification hierarchy”, which I think is more self-explained than HPO or phenotype info.

[2015-08-03 15:07] #145 closed

[2015-08-03 15:43] yuanzhou opened #146 "Re-position the phenogrid FAQs icon"
![capture1](https://cloud.githubusercontent.com/assets/195873/9041154/7bbe2a7e-39d4-11e5-8921-679df06ccf23.PNG)
![capture](https://cloud.githubusercontent.com/assets/195873/9041155/7c90effe-39d4-11e5-940a-dbc669b59f53.PNG)

Right now it's fixed position, this may cause some confusions and doesn't look good neither. Will position this icon to the right of the main title text. (It can also be positi

[2015-08-03 16:17] yuanzhou commented on #146
This is how it looks like now:

![capture](https://cloud.githubusercontent.com/assets/195873/9041978/8ce930d2-39d9-11e5-9c1d-59ec408087a9.PNG)
![capture1](https://cloud.githubusercontent.com/assets/195873/9041979/8e894760-39d9-11e5-8b2c-a99a8d6e9618.PNG)

Thanks for the suggestion @davism84

[2015-08-03 16:17] #146 closed

[2015-08-03 16:24] yuanzhou opened #147 "Remove "collapse" HPO treeview, leave it expanded once built"
I realized that there's no need to show the text of "collapse xxx", we should just display the classification hierarchy once it's expanded. Because once the treeview is displayed, it's cached, we benefit nothing from collapsing the treeview in the tooltip. And once it's collapses, if we move back to the same phenotype, we still need to click to expand the cached treeview again. Why not just let th

[2015-08-03 18:05] #142 closed

[2015-08-03 20:13] yuanzhou commented on #147
FYI @davism84, I've removed the collapse HPO related things from `phenogrid.js` and `tooltiprender.js`.

[2015-08-03 20:13] #147 closed

[2015-08-04 16:04] yuanzhou commented on #147
FYI @davism84 I've also changed the clickable icon to clickable text (styled it with underline and red color to make it eye-catchy and look like an link)

![capture](https://cloud.githubusercontent.com/assets/195873/9065644/ea47b254-3aa0-11e5-9569-0dbddb3b1b3e.PNG)

[2015-08-04 16:12] harryhoch commented on #147
@yuanzhou , looks good. thanks

[2015-08-04 21:40] davism84 commented on #108
integrated changes from master into refactored version

[2015-08-04 21:40] #108 closed

[2015-08-05 16:03] harryhoch opened #148 "tooltips might not work on local installation."
tooltip text pulled up from the files in js/res might not work correctly if run locally, as the aax call will not work with the "file" url. Workaround needed.

[2015-08-05 19:40] jmcmurry opened #149 "The information icon obscures the text "Cross Species Overview""
I go to page http://beta.monarchinitiative.org/gene/OMIM:168600 and click the "compare" tab.
The information icon should not overlap the words "Cross species overview" or any other text.
![screen shot 2015-08-05 at 12 35 38](https://cloud.githubusercontent.com/assets/3658863/9095933/f4c15126-3b6e-11e5-927f-8e77714085bb.png)

[2015-08-06 12:46] yuanzhou commented on #149
@jmcmurry I just checked this page and the icon is in the right place.

![capture](https://cloud.githubusercontent.com/assets/195873/9111714/9aa52894-3c17-11e5-9167-9e06f19f60b2.PNG)

What browser did you use to get this overlapping issue?

[2015-08-06 13:06] yuanzhou commented on #148
@harryhoch Javascript has limited access to local files. Google chrome doesn't allow ajax to access local files that's why those popups don't work in chrome. But firefox allows local ajax calls. I'll look into this and see if there's a good workaround.

[2015-08-06 13:12] harryhoch commented on #148
@yuanzhou  yes, I know. Please consider  this to be low priority, thanks

[2015-08-06 15:55] jmcmurry commented on #149
I'm on Chrome (Mac OSX) however, looking at it today, I don't see it there.
Odd.

[2015-08-06 15:55] #149 closed

[2015-08-06 15:58] harryhoch opened #151 "ensure that all ajax calls are async"
port async adjustments from master into refactor.

[2015-08-06 16:29] davism84 commented on #117
Now using Sumoselect widget, allows a check all

[2015-08-06 16:29] #117 closed

[2015-08-06 17:49] harryhoch commented on #104
@davism84, is this done?

[2015-08-06 17:50] harryhoch commented on #109
@davism84, should we close this in favor of https://github.com/monarch-initiative/phenogrid/issues/110?

[2015-08-07 13:18] yuanzhou commented on #148
Already added this information in README.md.

[2015-08-11 13:19] yuanzhou opened #152 "undefined unmatched phenotypes due to ajax sync -> async"
It was working without problem before phenogrid changed all ajax calls from sync to async. I just noticed that when you go to this page:

http://stage.monarchinitiative.org/disease/OMIM:105830

and click the unmatched checkbox, you will see the undefined names instead of the actual phenotype names. I'm sure it's caused by the ajax async change. Will fix this ASAP.

![capture](https://cloud.githubu

[2015-08-11 13:20] #152 closed

[2015-08-11 13:21] yuanzhou commented on #152
Used chainable ajax call backs instead of putting the ajax call in a for loop. Also attached the insertion of unmatched list to the click event.

[2015-08-11 14:13] davism84 commented on #151
added async=true and converted HPO, and owlsims calls to use async.  In the future, gene expansion will use the same model

[2015-08-11 14:13] #151 closed

[2015-08-11 16:54] davism84 commented on #116
change flip axis button to check box and maybe label it **Invert Axis**

[2015-08-11 17:24] davism84 commented on #104
This is complete.  We may need to play around with the lightness of the color. But it provides a simple set of divider lines.  see `_createSpeciesDividerLines`

[2015-08-11 17:24] #104 closed

[2015-08-11 20:12] davism84 commented on #107
added watermark labels, and support for the inverted axis

[2015-08-11 20:12] #107 closed

[2015-08-13 12:53] yuanzhou commented on #111
Noted in PR #153 Moved all the phenogrid controls (Organism, Sort Phenotypes, Calculation Method, and flip axis) into the sliding panel.

![capture](https://cloud.githubusercontent.com/assets/195873/9227547/2bcaab36-40e2-11e5-9065-9a1dec649833.PNG)

Further fixed display issues in monarch-app, addressed in PR #154

Will continue to improve the layout design.

[2015-08-18 20:29] yuanzhou commented on #111
More changes made in PR #155

![capture](https://cloud.githubusercontent.com/assets/195873/9341854/52514ae2-45c6-11e5-8063-a3f79c3c43cf.PNG)

[2015-08-19 13:59] yuanzhou commented on #116
Noted in PR #153 Moved all the phenogrid controls (Organism, Sort Phenotypes, Calculation Method, and flip axis) into the sliding panel.

![capture](https://cloud.githubusercontent.com/assets/195873/9227547/2bcaab36-40e2-11e5-9065-9a1dec649833.PNG)

Further fixed display issues in monarch-app, addressed in PR #154

![capture](https://cloud.githubusercontent.com/assets/195873/9250145/c8c95ff2-4198-

[2015-08-19 18:08] davism84 commented on #105
added 'cross-hair'-like row/column highlighting

[2015-08-19 18:08] #105 closed

[2015-08-19 18:14] davism84 commented on #94
inverted labels now appear on the left side

![image](https://cloud.githubusercontent.com/assets/10049022/9364895/9b379df4-467c-11e5-90bf-d7b75114aa42.png)

[2015-08-19 18:14] #94 closed

[2015-08-19 18:16] davism84 commented on #131
@harryhoch does this relate to its use on an android tablet vs the phone?  who has an android device that we could test on?

[2015-08-20 12:15] davism84 commented on #54
with the refactored version this issue would be resolved

[2015-08-20 12:15] #54 closed

[2015-08-21 17:45] davism84 opened #158 "need to add the unmatched phenotypes"
unmatched list functionality needs restored in refact-md version

[2015-08-22 14:18] harryhoch commented on #131
Don't really know if it is phone or tablet. You can find an android emulator as part of the SDK (http://developer.android.com/tools/help/emulator.html), but this should be low priority....

[2015-08-24 13:58] yuanzhou commented on #158
Right now in the master and release branch (they have the same code base) the unmatched list only returns the phenotype IDs, sometimes monarch-app's phenotype_list.json doesn't return all the unmatched labels. So we are using chainable ajax aysnc calls for each phenotype to grab the label. This results many HTTP round-trips. Maybe we need to create a new API to accept a bunch of phenotypes in one

[2015-08-24 20:44] yuanzhou commented on #111
Tweaked the gradient legend to align all the label texts, and moved monarch logo inside the phenogrid controls, then got rid of the logo on the bottom right, also use the grid region width as the gradient bar width.

![capture](https://cloud.githubusercontent.com/assets/195873/9451906/67c1ae04-4a7f-11e5-86d1-73523931101a.PNG)

[2015-08-24 21:13] nlwashington commented on #131
when i tested it, it was on my nexus 5 phone (lollipop).

[2015-08-25 15:14] yuanzhou commented on #111
Moved the logo outside the control button, further styled the button and popup options. Also moved the FAQ icon next to the top title inside the options panel.

![capture](https://cloud.githubusercontent.com/assets/195873/9470519/62321c9e-4b1a-11e5-8093-26e0e09385e6.PNG)

Below is how it looks after you click that options icon:

![capture1](https://cloud.githubusercontent.com/assets/195873/9470545

[2015-08-25 15:46] davism84 commented on #113
this is the same as #11

[2015-08-25 15:46] #113 closed

[2015-08-25 17:37] #23 closed

[2015-08-25 17:38] #56 closed

[2015-08-25 17:38] #61 closed

[2015-08-25 20:31] yuanzhou commented on #111
Moved the rotated species names to the right. PR#159

![capture](https://cloud.githubusercontent.com/assets/195873/9478597/cc3d8fac-4b46-11e5-8dc3-45176e110879.PNG)

[2015-08-26 13:26] yuanzhou commented on #158
From Harry:

There are at least two ways to do this: (a) to add a call to SciGraph, or (b) to add a call to monarch-app to do the loop call.  The question really boils down to whether either would be preferred, or if some other option is better…

[2015-08-26 13:29] yuanzhou commented on #99
Moved the overview map from the right.

[2015-08-26 13:29] #99 closed

[2015-08-26 13:30] yuanzhou commented on #74
In the current refactoring version, the minimap has been placed to in the left corner.

![capture](https://cloud.githubusercontent.com/assets/195873/9494649/235b8f12-4bd5-11e5-860e-8f6fed5e3cf5.PNG)

[2015-08-26 13:30] #74 closed

[2015-08-26 13:32] yuanzhou commented on #73
@nlwashington Do you have the PSD file or the original logo file? We may be able to export it to SVG in Fireworks or other tools.

[2015-08-26 13:34] #14 closed

[2015-08-26 13:35] #76 closed

[2015-08-26 13:36] yuanzhou commented on #15
Do we still have this issue? I don't quite understand the problem. @harryhoch

[2015-08-26 13:45] harryhoch commented on #15
I think this is still a "won't fix". See grid on http://www.monarchinitiative.org/model/MGI:3047228 for an example. Given that it's a mouse gene, the mouse models in the middle score higher than the humans on the left, so the columns are not in the right order...

[2015-08-26 13:47] yuanzhou commented on #141
Updates:

1. Overview mini map's config has been wrapped in `navigator` object in the config. All its children elements are grouped inside the `g` element.
2. Gradient legend related elements are also grouped.
3. Logo is also configurable width and height, the position x and y are calculated based on the grid region.

[2015-08-26 13:48] yuanzhou commented on #110
![capture](https://cloud.githubusercontent.com/assets/195873/9495054/8f32dd92-4bd7-11e5-8b9e-d6851c7305f0.PNG)

[2015-08-26 13:51] harryhoch commented on #139
superceded by https://github.com/monarch-initiative/phenogrid/issues/22

[2015-08-26 13:51] #139 closed

[2015-08-26 13:53] harryhoch commented on #116
refer to https://github.com/monarch-initiative/phenogrid/issues/141 for further discussion of configuration

[2015-08-26 13:53] #116 closed

[2015-08-26 13:55] harryhoch commented on #123
@davism84 ,  please work on this as you continue to clean code

[2015-08-26 13:56] harryhoch commented on #110
let's focus this discussion in https://github.com/monarch-initiative/phenogrid/issues/141

[2015-08-26 13:56] #110 closed

[2015-08-26 13:57] harryhoch commented on #109
closed in favor of https://github.com/monarch-initiative/phenogrid/issues/141

[2015-08-26 13:57] #109 closed

[2015-08-26 13:58] harryhoch commented on #91
@davism84, @yuanzhou, is this still a problem?

[2015-08-26 14:00] harryhoch commented on #64
@davism84, please close this when appropriate.

[2015-08-26 14:11] yuanzhou commented on #91
@harryhoch still a problem now, Mike will be making changes to the tootip library later.

[2015-08-26 14:13] yuanzhou commented on #65
Can you provide more info about this? @harryhoch

[2015-08-26 14:50] harryhoch commented on #65
terms like "species", "gene", "phenotype", etc. should only be used in configurations /options, and in a way that is abstracted and generalized as much as possible.

[2015-08-26 18:57] yuanzhou commented on #148
I think we can close this since it's an known issue with browser safety and there's no workaround unless you run everything on a web server.

[2015-08-27 15:01] yuanzhou opened #161 "Installation issue on Ubuntu-14.04"
Was installing phenogrid on Ubuntu this morning, had nodejs and npm installed. But after I ran `gulp bundle` I got the error message that says
[code]

Got this resolved by doing

[code]

[2015-08-27 15:01] #161 closed

[2015-08-27 15:08] yuanzhou commented on #161
Already updated the README instructions for Ubuntu.

[2015-08-27 15:32] yuanzhou opened #162 "Adding Behave tests and Unit tests"
Will add python behave tests and javascript unit tests (using npm mocha/thai).

[2015-09-01 19:38] davism84 commented on #134
changed the cell tooltip with the following content. which may resolve this.  what do you think @harryhoch can we close this??

![image](https://cloud.githubusercontent.com/assets/10049022/9614338/4065ff90-50bf-11e5-8f9a-c047364144e4.png)

[2015-09-01 19:41] davism84 commented on #91
with updates/clean-up to stickytooltip I'm going to say this is resolved.  But continue to test this.

[2015-09-01 19:41] #91 closed

[2015-09-01 20:55] harryhoch commented on #134
yes

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-09-02 03:06] nlwashington commented on #134
I am not sure I understand...  the species is listed under "query", rather than the "target" here; i don't actually know what the query is, but i suspect it is a human disease (meaning the query would be homo sapiens).  and it certainly looks like the target is a mus musculus (mouse) gene.

I would make sure to put the species with the thing it is representing.

Additionally, it is strange for the

[2015-09-02 11:53] harryhoch commented on #134
@davism84, please revise as per Nicole's comments. thanks

[2015-09-02 13:43] davism84 commented on #65
all variables generalized to target, source and targetGroup.

[see wiki] (https://github.com/monarch-initiative/phenogrid/wiki/Key-structures)

[2015-09-02 13:43] #65 closed

[2015-09-02 15:37] davism84 commented on #134
see update.  @nlwashington @harryhoch

![image](https://cloud.githubusercontent.com/assets/10049022/9634135/5569353e-515e-11e5-869f-4e43f32e3518.png)

this was the original mockup for the refactor [https://github.com/monarch-initiative/monarch-app/issues/499](https://github.com/monarch-initiative/monarch-app/issues/499)

[2015-09-02 15:47] harryhoch commented on #134
@davism84 - thanks. looks good to me.

[2015-09-02 16:10] davism84 commented on #103
Should we close this?  It's not an issue with the refactored version, unless we should track this for the current version.  @yuanzhou @harryhoch

[2015-09-02 16:15] davism84 commented on #64
not quite MVC, but all UI and data management are generally separated, with accessors methods and minimal coupling.  all data structures have been generalized to three basic structures target, source and cell data

[2015-09-02 16:15] #64 closed

[2015-09-02 16:26] davism84 commented on #62
@harryhoch I'm assuming this means make the targets sortable, correct?

[2015-09-02 16:42] harryhoch commented on #103
I defer to @yuanzhou

[2015-09-02 16:45] harryhoch commented on #62
yes. low priority...

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-09-02 19:04] #103 closed

[2015-09-02 19:05] yuanzhou opened #163 "Integrate phenogrid build on Travis CI"
Use Travis CI to build phenogrid and run the tests.

[2015-09-03 13:52] yuanzhou commented on #163
Interesting findings:

1. All behave tests passed without any problem on my VM using the real Firefox browser, also tested with PhantomJS headless browser.

2. Some tests always failed when tested against Xvfb (X virtual framebuffer is a display server implementing the X11 display server protocol) on Travis CI.

3. Finally got this work using PhantomJS on Travis CI. But I had to change one of the

[2015-09-03 15:10] yuanzhou commented on #162
Python behave tests added, and instructions documented.

[2015-09-03 15:31] yuanzhou commented on #65
I've also updated according behave tests based on the text change.

[2015-09-03 18:35] yuanzhou commented on #162
I think I should categorize the behave tests into generic feature file and config specific feature file. Right now some test scenarios are specific to the configurations and the input phenotypes. We would need to update those scenarios if config changes. Otherwise the tests will fail on Travis CI.

[2015-09-03 19:16] yuanzhou commented on #162
Now in `tests/behave` we have `generic.feature` and `specific.feature`. The `specific.feature` should be updated according to specific configurations or data input.

[2015-09-04 17:25] yuanzhou commented on #163
Things noticed:

1. Travis will try to build for each branch in the same repo unless you tell Travis to look for branches that have `.travis.yml`.

2. Travis will also check for each Pull Request.

3. Behave tests passed on local testing may fail on Travis.

[2015-09-04 17:25] #163 closed

[2015-09-04 17:26] yuanzhou commented on #158
See here for more discussions: https://github.com/monarch-initiative/monarch-app/issues/935

[2015-09-05 01:58] harryhoch opened #168 "remove ./dist file from git - add to .gitignore"
might require comparable changes in monarch-app

[2015-09-08 16:10] harryhoch commented on #134
@davism84 , can we close this?

[2015-09-08 16:32] harryhoch commented on #52
@davism84 @yuanzhou please close this issue if you add the format validator to test cases.

[2015-09-08 20:36] nlwashington commented on #134
ok for me to close for now.

[2015-09-09 19:07] yuanzhou commented on #162
Mocha tests added. Mocha is the testing framework, Chai is used for `should/expect/assert`. Right now we validate the simsearch and ontology (e.g., HPO expansion) JSON data against the desired JSON structure. This can be done using ajax testing later. I'll need to figure out how to make ajax calls in mocha, prob will need to use phantomjs as the testing browser.

[2015-09-09 19:07] #162 closed

[2015-09-09 19:11] yuanzhou commented on #111
Can we close this issue? @harryhoch @davism84

[2015-09-09 19:29] harryhoch commented on #111
I think so.

[2015-09-09 20:15] #111 closed

[2015-09-10 12:56] #134 closed

[2015-09-10 13:00] #59 closed

[2015-09-11 19:51] yuanzhou commented on #143
Either PNG image or SVG (better option) snapshot. Will prob lose those animations/popups/tooltips. Maybe also hide some elements for the printable version, like the options button.

[2015-09-11 19:53] yuanzhou commented on #158
Added unmatched sources, buggy, will also play with the display.

[2015-09-11 19:56] yuanzhou commented on #33
Make the no-data-species checkbox disabled even if it's set as `active: true` in config file. This needs to check the compare species array.

[2015-09-14 16:57] davism84 opened #171 "freeze scrolling mode for viewing single row"
this feature will allow a single row to be locked or frozen, keeping the red guide line active on the entire row.  The overview mini map could be locked and used to scroll left or right.  Alternate design: have left/right arrows appear on either side of the grid to allow user to scroll.

[2015-09-14 17:01] davism84 commented on #137
Vincent's previous note about the limit default of 100 is correct.  for the owlsim call, if no **limit=** parameter is supplied then monarch is 100

[2015-09-15 13:18] yuanzhou commented on #158
@harryhoch @davism84 Question:

After some debugging with unmatched phenotypes, I still feel the async ajax calls to grab the labels are not solid, because even if we append those labels to html in the ajax callback, it still may take longer sometimes to show up those labels after users click the unmatched phenotypes button. Unless we show a loading spinner-like image to tell users to wait.

Would

[2015-09-15 13:55] harryhoch commented on #158
@yuanzhou

1. how long are we talking about?
2. Are we getting the labels back from the original call? I had thought that Kent was adding this functionality back in?
3. Would it be too hard to add a spinner?

I really don't like the idea of the IDs - too low-level and not particularly usable...

[2015-09-15 14:08] yuanzhou commented on #158
Thanks @harryhoch Kent only added the labels back to `phenotypes_list.json` for monarch-app, when running phenogrid separately, we still need to go grab the labels. I've put the formatting labels in ajax callbacks, works better than the former version. Now I'll just wait until someone added those labels in the simsearch result.

[2015-09-15 18:16] yuanzhou commented on #158
Added and merged Unmatched Phenotypes in PR #172

![capture](https://cloud.githubusercontent.com/assets/195873/9885600/fed7c72a-5bb3-11e5-9fe2-32bb4146ac65.PNG)

![capture2](https://cloud.githubusercontent.com/assets/195873/9885626/266556ea-5bb4-11e5-84c8-5996833751ea.PNG)

Will make the "Unmatched Sources" wording configurable later. Will also create another new issue for possible bugs related un

[2015-09-15 18:16] #158 closed

[2015-09-15 18:21] yuanzhou opened #173 "Further Investigation in Unmatched Phenotypes"
Disease page `disease/OMIM:255800` doesn't display unmatched phenotypes for Human and Fish, but compared to fish, it seems we have more phenotypes listed for human by looking at the shaded area in overview map. Actually, fish has 60 phenotypes and human has 116. The monarch production server has the same results. Something might be wrong.

![h](https://cloud.githubusercontent.com/assets/195873/988

[2015-09-15 18:50] yuanzhou commented on #52
Added API JSON validation in mocha tests.

[2015-09-15 18:50] #52 closed

[2015-09-15 18:53] yuanzhou commented on #143
@harryhoch After checking out the discussions from https://github.com/monarch-initiative/monarch-app/issues/488, I feel my earlier understanding from last Friday was very different. I thought it was supposed to be a downloadable graphic (PNG or SVG) that serves as a snapshot of the current visible phenogrid. Then it can be used in research papers or presentations.

Please advise.

[2015-09-15 18:57] harryhoch commented on #143
yes, that's right. start with the SVG /PNG. we can then add tabular data if requested.

[2015-09-16 20:43] yuanzhou commented on #143
Have added the downloadable SVG.

![capture](https://cloud.githubusercontent.com/assets/195873/9917854/ec4b3ad6-5c91-11e5-90c2-b3e315e3c580.PNG)

Below is how save SVG looks in browser.

![capture2](https://cloud.githubusercontent.com/assets/195873/9917866/f84a0c2c-5c91-11e5-8b66-16daf3564c90.PNG)

[2015-09-16 21:40] harryhoch commented on #143
looks good.
How hard would it to be to embed this in a pdf with some summary text?

[2015-09-17 13:04] yuanzhou commented on #143
Did you mean by embedding the SVG as an image in PDF and then add some text about the image in PDF? Right now it generates a SVG file than you can view or edit. Converting the SVG into PNG using javascript on client side didn't work very well after some testing. So the users still need to capture the image from the SVG version, which is very easy by just a screenshot or exporting using graphic too

[2015-09-17 13:26] harryhoch commented on #143
@yuanzhou, I was thinking about an extended PDF report that would be a printable summary of the contents. We could wrap the phenogrid with a textual table and some other info.

There are tools that might help - see, for example, http://pdfkit.org/

Something worth thinking of, but not short term.  For the time being, can you add a button for the PDF export of the grid?

[2015-09-17 13:36] yuanzhou commented on #143
@harryhoch I've added the button says "Save Phenogrid as SVG", did you mean to change this to "Export Phenogrid as PDF"? My approach to saved SVG was go find the SVG tag in the DOM and clone it then clean it up, then wrap the SVG content into a SVG file. I used Filesaver.js and blob for the save as popup dialog. And I think it's simple and straightforward. If you can do a simple browser print to s

[2015-09-17 14:17] harryhoch commented on #143
ok. you've convinced me. let's leave it as it is for now.

[2015-09-17 15:38] yuanzhou commented on #143
Merged changes via PR #174

We can open new issues for additional new features regarding this report.

[2015-09-17 15:38] #143 closed

[2015-09-17 16:26] yuanzhou commented on #33
Fixed and merged in PR #175

[2015-09-17 16:26] #33 closed

[2015-09-17 18:01] yuanzhou commented on #24
Actually Mike has added the frequency of each phenotype in the phenotype tooltip. And by default, all the phenotypes are sorted by frequency. I'll think about other options.

[2015-09-17 18:27] harryhoch commented on #24
ok, so close this

[2015-09-17 19:00] harryhoch opened #176 "add watermark to phenogrid svg export"
.. make it difficulty for folks to not include Monarch's name and logo...

[2015-09-17 19:38] yuanzhou commented on #123
Added in PR #177

[2015-09-17 19:38] #123 closed

[2015-09-17 19:52] yuanzhou commented on #176
Any suggestions on where to add the logo watermark? Here is a screenshot of the saved SVG.

![capture](https://cloud.githubusercontent.com/assets/195873/9944242/08397de4-5d54-11e5-94f8-c4891ebe5a6a.PNG)

[2015-09-17 19:56] harryhoch commented on #176
Can we just add the logo and a line saying “www.monarchinitiative.org” at the bottom, underneath the legend?

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-09-17 19:58] yuanzhou commented on #173
Found another issue about the unmatched phenotypes. If you test page `disease/OMIM:270400`, the ajax calls will be sent out to grab the unmatched phenotype label every time you invert the axis. This should be cached and invert axis shouldn't trigger the ajax again. Will troubleshoot.

[2015-09-18 15:43] davism84 opened #178 "HPO expansion not active"
expansion link is not active within the tooltip, so you are unable to expand HPO hierarchy

[2015-09-18 15:49] davism84 opened #179 "grid title overlays the monarch log"
in inverted mode. test with following:    /disease/OMIM:183090

![image](https://cloud.githubusercontent.com/assets/10049022/9963852/58e4d764-5dfb-11e5-82f0-e2950bdd0ca2.png)

[2015-09-18 16:03] davism84 opened #180 "color scale sizing"
color scale doesn't look good when grid is small, in inverted mode.  consider using a fixed size, if overall grid width is below a certain width

![image](https://cloud.githubusercontent.com/assets/10049022/9964222/16ed7dc8-5dfd-11e5-9b59-28ed14cdb80a.png)

[2015-09-18 16:12] davism84 opened #181 "test from Analyze/Phenotypes"
make sure we test from this option.  we usually only test from /disease

[2015-09-18 16:34] #24 closed

[2015-09-18 17:27] kltm commented on #176
Yeah, that could certainly work, if there is space. (The slightly transparent and tastefully done overlay at export time option, while nice, does not get the info in there if somebody does a screen capture.) And that would certainly prevent the irritating injection overlay information.

Out of curiosity, what about copyright info instead of/in addition to any export (assuming an overlay--copyright

[2015-09-18 17:46] yuanzhou commented on #141
Cleaned up the config/options variables inside `phenogrid.js`, #182

Now `config` contains all the over writable variables that can be overwritten by Phenogrid constructor. And `internalOptions` has all other config variables that are supposed to be changed/customized by developers who have good understanding of Phenogrid.

[2015-09-18 17:47] #141 closed

[2015-09-18 17:50] yuanzhou commented on #176
![capture](https://cloud.githubusercontent.com/assets/195873/9966634/faccb6a4-5e0b-11e5-81ee-377abda4423e.PNG)

@harryhoch @kltm this is what it looks like now. I couldn't add the monarch logo until we have the SVG version of the logo, unless I play with the data URL for the logo so we don't have to use external image. No need to use "www".

[2015-09-18 18:02] yuanzhou commented on #178
May need to add a spinner later in case it takes too long for ajax to grab the ontology tree.

[2015-09-18 18:32] yuanzhou commented on #73
Got the AI file saved as SVG from Nicole. Looks great in browser. Will add this to phenogrid.

[2015-09-18 18:32] #73 closed

[2015-09-18 18:43] yuanzhou commented on #176
FYI, just received the SVG logo from Nicole. Will play with it.

[2015-09-18 19:11] davism84 opened #184 "error on return of missing species compare data"
if no compare results are returned, in this case for Fish, Phenogrid just shows a display dialog with just 'Title' in it, no error message, etc.  NOTE:  other species compare data was returned successfully, if you review the Network response

see  http://monarchinitiative.org/gene/ZFIN:ZDB-GENE-990415-270

![image](https://cloud.githubusercontent.com/assets/10049022/9968554/18a516e8-5e17-11e5-9a80

[2015-09-18 19:17] davism84 opened #185 "tooltip box hovering over cell is displayed extra large"
this only occurs when I run from the index.html file. through monarch-app it's fine

![image](https://cloud.githubusercontent.com/assets/10049022/9968746/27c7136e-5e18-11e5-958d-dced0bb4b5b9.png)

[2015-09-18 19:27] davism84 opened #186 "tooltip source link showing wrong id (inverted axis)"
when axis is inverted, the source link is not valid, it's contains the target_id link instead of the source_id. if axis is not inverted, it's ok

[2015-09-18 19:49] yuanzhou commented on #176
It turned out that I still couldn't add the svg logo (neither the png logo) in the exported SVG file. Because the SVG logo needs to be used like this inside the SVG gile:

[code]

I couldn't find a way to link to the external svg logo file (unless monarchinitiative.org uses the svg logo too and I can use a absolute URL and link it to the logo.svg on monarch server).

[2015-09-18 19:54] kltm commented on #176
I believe to make this work as intended, it wouldn't be a file reference, but rather an injection of the contents of that file (in a container to shrink it and make it transparent) into the exported SVG.

[2015-09-18 20:06] yuanzhou commented on #176
@kltm What do you mean by "in a container to shrink it and make it transparent"?

I was thinking about the similar approach, putting the content of that svg logo into a js file, then
[code]

[2015-09-18 20:12] kltm commented on #176
Okay, taking a step back, you have an exported SVG of phenogrid. This document's DOM can be manipulated either through an API or text injection before getting to the user. The logo is a similar document. You can take the contents of the logo SVG create a container (e.g. https://developer.mozilla.org/en-US/docs/Web/SVG/Element/g), apply a transform (https://developer.mozilla.org/en-US/docs/Web/SVG/

[2015-09-18 20:26] #176 closed

[2015-09-21 13:19] yuanzhou commented on #176
Merged via PR #187

[2015-09-21 14:26] yuanzhou commented on #185
Caused due to the #pg_contianer added in front of each CSS ids and classes, but the stickey tooltip is not inside the #pg_container. Simply removed that #pg_container prefix.

[2015-09-21 14:26] #185 closed

[2015-09-21 14:44] davism84 commented on #181
getting the following error

POST:http://monarchinitiative.org/simsearch/phenotype
http://monarchinitiative.org/simsearch/phenotype Failed to load resource: the server responded with a status of 502 (Proxy Error)
localhost/:1 XMLHttpRequest cannot load http://monarchinitiative.org/simsearch/phenotype. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://loca

[2015-09-21 14:57] yuanzhou commented on #186
Merged in PR #189

[2015-09-21 14:57] #186 closed

[2015-09-21 15:31] davism84 commented on #178
link is now working

[2015-09-21 17:35] #178 closed

[2015-09-21 19:22] yuanzhou commented on #179
Fixed this by moving logo down a little bit. Please see https://github.com/monarch-initiative/phenogrid/commit/637ce9bc65f81b299287921156108065db1fa893

![capture](https://cloud.githubusercontent.com/assets/195873/10002345/8f215728-6074-11e5-86a1-4f6483422cdb.PNG)

[2015-09-21 19:22] #179 closed

[2015-09-21 19:30] yuanzhou commented on #184
I'm guessing that it's caused by monarch server. We had that issue before. And I went to `http://monarchinitiative.org/gene/ZFIN:ZDB-GENE-990415-270` but didn't see this popup dialog.

Please refer to https://github.com/monarch-initiative/monarch-app/issues/903

[2015-09-21 19:30] #184 closed

[2015-09-21 19:36] yuanzhou commented on #181
Tested on my PC and couldn't replicate this error. I believe it's a monarch server issue.

[2015-09-21 19:45] yuanzhou opened #190 "Grid cell tootip content formatting"
It can be somewhat confusing to use underline for 'In common", "Match", "Target" but not for "Source". Just need to format the content to make it more readable and less guesswork.

![capture](https://cloud.githubusercontent.com/assets/195873/10002836/648dd038-6077-11e5-81ab-4efb948465b1.PNG)

[2015-09-21 19:56] yuanzhou commented on #190
Should we also use the name of "Phenotype" and "Gene" instead of "Source" and "Target" in the cell tooltip by making the source name configurable? Similar to what we did to "Unmatched Phenotypes"? @harryhoch @davism84

And what are the differences between "Match" and "In-common"?

[2015-09-21 20:09] yuanzhou commented on #181
Did more tests, and sometimes it took really long time to load the data from simsearch. Must be server issue.

[2015-09-22 01:47] harryhoch commented on #190
On Sep 21, 2015, at 3:56 PM, yuanzhou <notifications@github.com<mailto:notifications@github.com>> wrote:

Should we also use the name of "Phenotype" and "Gene" instead of "Source" and "Target" in the cell tooltip by making the source name configurable? Similar to what we did to "Unmatched Phenotypes"? @harryhoch<https://github.com/harryhoch> @davism84<https://github.com/davism84>

yes, please

And

[2015-09-22 13:00] harryhoch opened #191 "change handling of options menu"
Currently, the options menu closes after each click of a check box or radio button. This complicates the process of making multiple selections.

Can we modify to have a handler execute after each selection, without closing the menu? The menu would effectively stay open until mouse-exit...

[2015-09-22 13:28] yuanzhou commented on #191
@harryhoch We realized that a while ago. The reason why the options menu disappears after each click is because currently we call `_redraw()` after each chick and it rerenders all the display.

I'll work on this.

[2015-09-22 13:35] harryhoch commented on #191
Ok. thanks.

----
Harry Hochheiser
University of Pittsburgh
Department of Biomedical Informatics
harryh@pitt.edu 		412 648 9300

[2015-09-22 16:55] davism84 opened #192 "large gap with phenogrid on Analyze page"
need a way to dynamically change the pg_container height, instead of fixed min_height, see screenshot

![image](https://cloud.githubusercontent.com/assets/10049022/10025213/23f3c5a2-6129-11e5-9b1f-f8596d041736.png)

[2015-09-22 20:15] yuanzhou commented on #191
Now the options menu stays open and it's positioned relative to the grid region. Merged via PR #193

[2015-09-22 20:15] #191 closed

[2015-09-23 12:54] yuanzhou commented on #173
Has fixed the issue regarding sending out repeated ajax calls after inverting axis. Now only change the selections of species will update the unmatched phenotypes, all other actions in options menu won't.

[2015-09-23 13:48] yuanzhou commented on #192
Have this fixed by setting the SVG width and height based dynamically.

![capture](https://cloud.githubusercontent.com/assets/195873/10046670/2f8ad004-61d8-11e5-9fe2-3534896d9bff.PNG)

[2015-09-23 14:40] davism84 commented on #181
Need to adjust parameters to support single or All species selection from the Analyze.js page.

[2015-09-23 14:40] #181 closed

[2015-09-23 14:55] #192 closed

[2015-09-23 15:13] davism84 commented on #190
labels will now use the type: attribute specified with the data

![image](https://cloud.githubusercontent.com/assets/10049022/10049124/260a599e-61e4-11e5-9288-331e748fcfdc.png)

[2015-09-23 15:13] #190 closed

[2015-09-23 18:13] yuanzhou commented on #180
We need your opinion @harryhoch , we even tried to place the gradient legend down to the overview map (this way we don't need to worry about the scaling issue). But it makes that area too tight and also leaves an empty space at the bottom between unmatched and options button.

Do you think that we can simply hide the "Invert Axis" option in the menu if there are less than 10 (or a different number

[2015-09-24 01:52] harryhoch commented on #180
What if we put the legend right under the "phenotype similarity comparison" label? - ie, at the top?

[2015-09-24 02:44] yuanzhou commented on #180
Thanks @harryhoch size-wise, it sure will work. I've made changes to always show the top title's full length regardless of the number of rows/columns or if inverting axis. So moving the gradient legend under the top title should work.

[2015-09-24 02:50] yuanzhou commented on #173
Turned out that the current `_getUnmatchedSources()` is not returning the correct number of unmatched phenotype IDs, this explains why the unmatched + matched != provided phenotype list. It also turned out that in many cases we will have many (30+ or more) unmatched phenotypes, will play with the table view to display these unmatched phenotypes.

[2015-09-24 02:55] harryhoch commented on #180
great. thanks.

[2015-09-24 14:59] yuanzhou commented on #173
Got this fixed. Also styled the unmatched phenotypes in a table view.

![capture](https://cloud.githubusercontent.com/assets/195873/10076799/4743d87a-62ab-11e5-875e-599431efe944.PNG)

[2015-09-24 15:02] yuanzhou commented on #180
Tried to move it to the top of grid and under the main title, didn't look good due to the alignment. So I came up with a better idea. Made the gradient legend thinner and shorter, and moved it down a little bit. Now it looks more like a legend and doesn't matter if we invert the axis.

![capture](https://cloud.githubusercontent.com/assets/195873/10076887/b342afce-62ab-11e5-8398-39d9fac366c3.PNG)

[2015-09-24 15:05] #180 closed

[2015-09-24 15:05] #173 closed

[2015-09-24 15:13] yuanzhou commented on #130
https://github.com/monarch-initiative/phenogrid/issues/173

[2015-09-24 15:20] yuanzhou commented on #15
Have the same issue in refactored version.

![capture](https://cloud.githubusercontent.com/assets/195873/10077435/51859370-62ae-11e5-8b5e-963cba0495c4.PNG)

[2015-09-24 16:46] harryhoch commented on #180
great. thanks

[2015-09-24 20:08] yuanzhou opened #196 "Publish phenogrid to npmjs.org"
Use GPL-2.0 as the correct license.
Use 1.0.0 as the phenogrid version number
Use postinstall for creating bundle files

[2015-09-24 20:52] kltm commented on #196
@harryhoch, GPL 2 is an interesting license choice; would it be okay to ask the rationale versus 3 (or LGPL for that matter) or other licenses, or is that a beer-time question? (I understand license negotiation can be a fraught process.)

[2015-09-25 01:19] harryhoch commented on #196
@kltm - short answer - this was  compromise between a licensing office who wanted a license that imposed restrictions that would encourage licensing, but yet was afraid of GPL v3, and the desire to have a "pure" open source license - ie, nothing like "BSD for non-commercial use only" allowed.

The long answer is a beer question.

[2015-09-25 14:43] yuanzhou commented on #168
It turned out that we can't live without the `dist` files.

`postinstall` in package.json only worked when we install phenogrid directly. Because when we install it directly using `npm install`, all the devDepencies are installed at the same time. Then `postinstall` was able to use gulp/browserify to create the bundled files in `dist`.

BUT when we install phenogrid via monarch-app, all the devDep

[2015-09-25 14:43] #168 closed

[2015-09-25 14:45] harryhoch commented on #168
Ok. it was worth a shot...

[2015-09-25 14:53] yuanzhou commented on #168
It took me several hours to find this out. I tried several things to run gulp bundle via monarch-app, and all failed. At least now I can start the npm publish.

[2015-09-25 16:19] #196 closed

[2015-09-28 18:34] yuanzhou commented on #196
Finalized via PR #197

[2015-09-28 20:21] yuanzhou commented on #90
Phenogrid has been published on npmjs.org under GPL-2.0 license. @harryhoch can we close this issue?

[2015-09-28 20:30] #90 closed

[2015-09-29 15:26] yuanzhou commented on #148
@harryhoch @davism84  I was still not satisfied with the answer to this issue. Have been thinking about some workarounds. I think I found a better way. Instead of putting those html notes in separate html files and getting the content via ajax calls, I tried to add the html content (after some basic json encoding) of each note into a json file.

[code]

Then include this file in `phenogrid.js` usi

[2015-09-29 15:43] yuanzhou commented on #17
I think this relates to https://github.com/monarch-initiative/monarch-app/issues/970

[2015-09-29 16:06] harryhoch commented on #17
yes. we will need to discuss this - soon, perhaps

[2015-09-29 16:08] harryhoch commented on #148
@yuanzhou, sounds like a good fix. go for it.

[2015-09-29 18:16] yuanzhou commented on #148
PR #198

[2015-09-29 18:16] #148 closed

[2015-10-01 15:08] yuanzhou opened #199 "Grid cell mouseover conflicts with corsshair"
When we hover over a grid cell, the cell will be highlighted in red and cross hairs and tooltip show up at the same time. If we continue to move mouse carefully inside the cell, when the mouse cursor is right no either vertical or horizontal cross hair, the tooltip will disappear. The cause of this behavior is the cross hair lines are appended to svg after the cell rect is created. And in svg, the

[2015-10-01 17:53] yuanzhou commented on #199
One possible workaround is to create two cross hair lines for each direction, and make sure there's no overlap of the lines with the grid cell. Around the cell, create crosshair-left, crosshair-right, crosshair-top, and crosshair-bottom.

[2015-10-01 18:01] harryhoch commented on #199
Is it possible that you need to look at the mouse exit routines for the cell? It might be tat the tooltip disappears when you go into the cross-hair. Do some coordinate checking before closing the tooltip...

[2015-10-01 19:11] yuanzhou commented on #199
Thanks @harryhoch I think I figured this out by creating 4 lines around the cell, this way there's no svg elements overlapped. Then I can simply make the highlighted cell the same color as the line's.

![capture](https://cloud.githubusercontent.com/assets/195873/10231034/7d26c562-684e-11e5-82e3-99c9c245001d.PNG)

[2015-10-01 19:15] harryhoch commented on #199
ok. that works.

[2015-10-01 19:25] #199 closed

[2015-10-09 01:36] yuanzhou opened #203 "Hooks -- owlSimFunction and geneList"
See https://github.com/monarch-initiative/monarch-app/issues/970

[2015-10-09 01:41] yuanzhou commented on #11
According to @harryhoch 's suggestion, I'll work on this genotype expansion by starting with the data loading test, if the performance issue can be resolved, I'll continue to work on the UI design.

[2015-10-09 13:17] yuanzhou opened #205 "Always show crosshairs highlighting when tooltip is on"
Just noticed that the crosshairs highlighting shows up only when we hover over the label/cell. At the same time the tooltip shows up. But the crosshairs highlighting is gone when we move the mouse to the tooltip (starting from the invisible container).

In the screenshots, the blue dot is the cursor since I couldn't capture them.

![capture](https://cloud.githubusercontent.com/assets/195873/103945

[2015-10-09 19:01] yuanzhou commented on #205
@harryhoch Do you think it's better to keep the highlighting srosshairs on when move mouse over tooltip?

[2015-10-09 20:06] harryhoch commented on #205
well, how hard is it to retain the highlighting on the crosshairs? If its not difficult, let's fix.

[2015-10-09 20:43] yuanzhou commented on #205
Not hard. I've got most part of the work done. Basically just to wrap the crosshair on/off functions as well the highlighting on/off functions separately, and reuse them for mouseover/mouseout label/cell and mouseover/mouseout tooltip. This fix will also clean up many code and make future work easier.

[2015-10-09 20:47] harryhoch commented on #205
great. thanks

[2015-10-12 14:11] yuanzhou commented on #205
Addressed in PR #207

[2015-10-12 14:11] #205 closed

[2015-10-12 15:35] yuanzhou opened #208 "Species title and divider line when no data returned"
Noticed this on http://beta.monarchinitiative.org/gene/NCBIGene:2562

![capture](https://cloud.githubusercontent.com/assets/195873/10431733/aa0344fa-70d4-11e5-9d59-d08c688ad642.PNG)

There's no fish data returned from simsearch, so we shouldn't show the fish title as well as that vertical divider line.

This issue relates to the issue #33 , I think the previous fix didn't fully address that issue.

[2015-10-12 16:31] #208 closed

[2015-10-14 14:53] yuanzhou opened #210 "apiEntityMap needs to be updated for genotype"
I'm working on genotype expansion for phenogrid. Once all the matches returned from the `http://beta.monarchinitiative.org/compare` API, I'll need to add them into the target data list, and each genotype will also need a `type` attribute to be specified.

Right now we are using the `apiEntityMap`'s `apifragment` property as the desired type. Some genotypes have the same 'MGI' prefix, what should I

[2015-10-14 14:56] harryhoch commented on #210
@yuanzhou, Good questions. I'm not sure that I know the answers. @kshefchek ?

[2015-10-14 15:34] kshefchek commented on #210
Typically it's not possible to determine ID type based on prefix (HP excepted in that list).  I could add type to any json object, where is this needed?

[2015-10-14 16:11] yuanzhou commented on #210
This is used in the dataLoader:
https://github.com/monarch-initiative/phenogrid/blob/master/js/dataloader.js#L167

I think I could get around this by not using this `apiEntityMap` but manually add `genotype` as the type of each genotype. Aside from this, the `apiEntityMap` is only used by the dataLoader to determine the type of other targets. And this type info is also used in the tooltip of grid

[2015-10-14 16:16] kshefchek commented on #210
Is the issue that owlsim does not return type information?

[2015-10-14 17:56] yuanzhou commented on #210
There are `id` and `label` in every return now. It will be great if we add `type` there too, I'm not sure if every id/label really has a unique type. E.g., `MGI` can be used for either gene or genotype. If we add the type info along with the ID, at least it resolves this issue.

[2015-10-14 21:22] kshefchek commented on #210
Let me see if this is something I can address on the Monarch API level.

[2015-10-16 20:45] yuanzhou commented on #11
@harryhoch Made some good progress this week on geno type expansion. Now we could grab the genotype data and throw them into the dataLoader, then transform the format. Update the axis render for target list. Then reorder the target list to place genotypes right after the parent gene. I also add some basic styling to the added genotypes. And every time there's new genotypes added, the grid and mini

[2015-10-16 20:56] harryhoch commented on #11
@yuanzhou, thanks. this sounds like good progress. #4 is a good question that we will have to address - let's discuss when you're ready.

[2015-10-17 01:26] yuanzhou commented on #210
Thanks @kshefchek please keep me posted on this. If it can not be addressed on the monarch api level, I'll try to find a workaround and get rid the use of this.

[2015-10-20 14:33] yuanzhou commented on #11
@harryhoch when you have a chance, can we talk about this genotype expansion? Right now I have the basic insert/remove work, but there are couple of weird renderings, prob due to the returned JSON data. One issue I've added on monarch-app's issue page: https://github.com/monarch-initiative/monarch-app/issues/1024. I'm not confident to merge this feature to the master branch at this point.

[2015-10-20 14:37] harryhoch commented on #11
agreed. We can certainly talk, but we need help from others to fix the data....

[2015-10-20 15:00] yuanzhou commented on #11
Thanks! Do you have any suggestions on the UI or inserting/removing animations?

![capture](https://cloud.githubusercontent.com/assets/195873/10611282/6c57f524-7719-11e5-8bd1-3378a9e0110b.PNG)

![capture2](https://cloud.githubusercontent.com/assets/195873/10611283/6e7599ba-7719-11e5-9596-5b207e62d20a.PNG)

I'm also thinking about using a overlay to block the widget when it goes out to fetch the ge

[2015-10-20 19:20] yuanzhou commented on #11
@harryhoch I'm just wondering why you display genes for mouse and fish, but diseases for human? I'll need to use a flag to mark if there's already expanded genotypes for each species. And I was thinking if I can just loop through the targetGGroups from https://github.com/monarch-initiative/phenogrid/blob/master/config/phenogrid_config.js#L6 . Maybe I should create something silimar to this:

[code

[2015-10-20 22:05] harryhoch commented on #11
@yuanzhou, I think we talk about human diseases because they are so often described in such detail by resources such as OMIM, which also contains genotypic information. I think your model for the expansion is fine. I think you can remove homo sapiens.

[2015-10-22 15:59] yuanzhou commented on #11
@harryhoch, I've had the loaded genotype data stored in the widget status and now the  insertion checks if the target gene's genotypes have been loaded, just update the status and render them, no ajax call involved. Removal also hides the added genotypes in underlying data. Switching between single species or multi-species keeps the status of expanded genotypes for each species.

I thought about a

[2015-10-22 17:13] harryhoch commented on #11
@yuanzhou, Thanks. This looks pretty good. We might have to look into additional feedback to indicate that the expansion is in progress, and to emphasize the difference between gene and genotype rows/columns, but this is a great start.

Regarding animation, let's talk.  The Les Miserables example does the animation by changing the xdomain, setting a transition, and then changing the transforms. we

[2015-10-22 17:59] yuanzhou commented on #11
Thanks @harryhoch, I'm using a spinner icon inside the tooltip to indicate the expanding, may not be the best way, but better than nothing and it's very simple.

I'll take a look at the Les Miserables example.

[2015-10-22 18:14] harryhoch commented on #11
@yuanzhou, sounds good.

[2015-10-23 15:39] yuanzhou commented on #210
@harryhoch, not sure how long I'll wait until @kshefchek has this issue addressed in the API level. Can I assume the `type` of targets under human is always 'disease', and `type` of targets under fish/mouse is always 'gene' or 'genotype'? Because right now the genotypes are being added after all the species targets are loaded. If my assumption is true, I can simply specify the `type` based on the

[2015-10-23 16:25] harryhoch commented on #210
@yuanzhou, I think this is a fine approach for now.

[2015-10-23 18:38] nlwashington commented on #210
FYI, i hesitate to add any assumptions to logic within phenogrid.  it should not know what a "disease" is.

phenogrid should be generic enough to render anything from human with the HP prefix.  some things that are annotated with HP are diseases (as is what you are getting from owlsim at the moment), but in the future it could be anything:  genes, genotypes, variants, people.  please, please don't

[2015-10-23 18:41] nlwashington commented on #210
furthermore, i do think that you ought to be given the types in some way; whether that is from some kind of monarch-api call, or from owlsim directly, you need the info.  at the moment, owlsim doesn't store anything about types and it'll be some time until that's refactored/added; but since you are getting the genotypes from monarch app, the schema could include a "type" : genotype for example, to

[2015-10-23 18:42] harryhoch commented on #210
@yuanzhou, @nlwashington makes an excellent point here. Please sketch out what you would need to make this code sufficiently generic and flexible. Let's not hardcode anything that we can parameterize...

[2015-10-23 18:43] kshefchek commented on #210
I think this will be fixed with my PR or am I misunderstanding? https://github.com/monarch-initiative/monarch-app/pull/1031

[2015-10-23 19:10] yuanzhou commented on #11
@harryhoch I checked the code of Les Miserables D3, the phenogrid cell grid is created based on the Les Miserables. The transition applied to Les Miserables reorder essentially applied to all the rows (row label + cells) and columns (only column label). In our genotype type expansion, if we use transition animation, it will be applied to all the rows and columns. We still couldn't only animate the

[2015-10-23 19:26] yuanzhou commented on #210
@kshefchek I was aware of your PR fix. Will make the changes once your PR get merged. Thanks!

[2015-10-23 19:34] harryhoch commented on #11
@yuanzhou, ok. I guess I was just thinking that we could try to do a similar change to the data structure and apply the resulting transition. Have you tried it?

regarding the cells, how about a change in background to those columns...

[2015-10-23 20:05] nlwashington commented on #11
@harryhoch 's suggestion is reasonable for changing the background of those columns.  alternatively, you could put a border around the block of columns that got added, but the background change might look nicer (very light grey, perhaps).

[2015-10-26 13:51] yuanzhou commented on #210
@kshefchek after your PR https://github.com/monarch-initiative/monarch-app/pull/1031 got merged, I could see the `type` in the compare API returned JOSN. But the `type` is still `null` from the initial simsearch POST.

`http://beta.monarchinitiative.org/simsearch/phenotype`

with the following POST data:

[code]

[2015-10-26 15:48] yuanzhou commented on #11
Due to how phenogrid creates those grid cells, it's very tricky to add the backgrounds for those expanded genotypes. Basically we added the data first then rerender all the grid cells at once. But I finally figured out a way to add those backgrounds for each genotype column/row.

![capture](https://cloud.githubusercontent.com/assets/195873/10733911/291f611c-7bd7-11e5-9f94-65ed278760b4.PNG)

![capt

[2015-10-26 16:01] yuanzhou commented on #11
@harryhoch I'm also thinking about maybe I can add some animation to the grey background by giving it a delay then slide in or some other animations once all the cells are there. I'll think about that later.

[2015-10-26 16:12] kshefchek commented on #210
Made a small tweak and cleared the cache, it should be working when beta updates.

[2015-10-26 17:24] yuanzhou commented on #210
@kshefchek Tested again and it worked! Thanks a lot!

[2015-10-26 17:24] #210 closed

[2015-10-27 18:41] yuanzhou commented on #11
Just a note of api related issues that need to be addresses in this feature once they are resolved in the monarch api level or there's a decision made:

1. https://github.com/monarch-initiative/monarch-app/issues/1025

2. https://github.com/monarch-initiative/monarch-app/issues/1032

3. https://github.com/monarch-initiative/monarch-app/issues/1024

[2015-10-28 16:16] yuanzhou commented on #22
I think the point 1 and 2 have been addressed in the refactored phenogrid. And for 3, now you can config the number of columns/rows of the viewport.

I do agree that we may need to display a different mini-map when there's only one or two or very few phenotypes. @harryhoch

[2015-10-28 16:43] nlwashington commented on #22
as for 3, the user cannot configure how many cols they see.  this is taken care of only by the folks that have control of the grid installation.  maybe i want to see 1000 columns.  and maybe i want to see more than 30 at a time.

ideally i would like to have a little doohickey that i can grab and drag to make the space larger for me to see, just like i can with this editor window in the bottom rig

[2015-10-28 17:57] yuanzhou commented on #22
@nlwashington I'll talk to @harryhoch about the scrollbars. I think one of the biggest advantages of having a mini-map is to show a big picture of the distribution of those grid cells in terms of density. But it's hard to maintain a precise vertical/horizontal scroll solely with dragging the mini-map. Scrollbars fit this purpose better.

Back to 3, right now the sim search only returns 100 records

[2015-10-28 18:27] harryhoch commented on #22
@nlwashington, we can certainly consider scrollbars. @yuanzhou, can you do a bit of digging to see how hard this is to do?

[2015-10-28 19:00] yuanzhou commented on #11
Also noticed a bug that when mouseout the added genotype cells, their tooltip stays there. Will need to fix this.

[2015-10-29 17:53] yuanzhou commented on #11
PR #211 merged this genotype expansion feature. But it's disabled for now in the tooltiprender until we have all the api level issues get addressed.

[2015-11-02 17:59] kshefchek commented on #203
@yuanzhou I'm curious if you have a time line for getting this fix in.  A few features on our analyze phenotypes page are dependent on this, specifically the "compare to gene list" option and upload/paste functionality.  We have the option of simply disabling these settings if we are far away from a fix.

[2015-11-02 18:39] harryhoch commented on #203
@yuanzhou, would this be hard to do? Sounds like it would be worth a bit of effort to help things out... How much work is required?

[2015-11-02 18:52] yuanzhou commented on #203
@kshefchek I didn't realize that "Upload" has something to do with Exomiser since I never really played with that. I'll look into this by playing with the two example input files and get this fixed in Phenogrid.

Is this also related to `geneList`? Or only used by Exomiser?

@harryhoch right now I have no idea of the details, I think it's a good time to get this  hook fixed in phenogrid. Glad you

[2015-11-02 18:54] harryhoch commented on #203
ok. @kshefchek, please help @yuanzhou with details. Pull me in as needed.

[2015-11-02 19:03] yuanzhou commented on #203
@kshefchek can you also address the installation/running monarch server issue first? https://github.com/monarch-initiative/monarch-app/issues/1047

I just tried another fresh installation again and saw the same error message. I'm sure I'll need to have monarch running to play with the Exomiser related functionalities. Thanks!

[2015-11-02 20:11] kshefchek commented on #203
Here are the two use cases we want to support:

- Pass a list of genes to phenogrid, in this case, use the compare call rather than simsearch to generate the phenogrid view, see:
https://github.com/monarch-initiative/phenogrid/blob/c008e5/js/phenogrid.js#L1058

This should be similar to calls to compare for the genotype expansion.

- Pass a phenogrid compatible json object directly into phenogrid.

[2015-11-02 20:43] yuanzhou commented on #203
This is really helpful @kshefchek. I can handle the `geneList` case very easily since I got the genotype expansion work with the compare API. And I'm assuming this is the currently disabled compare section:

![capture](https://cloud.githubusercontent.com/assets/195873/10893296/1e3c2be6-8176-11e5-95e6-1606709c8033.PNG)

For the exomiser related upload section, couple of questions:

1. Does the uplo

[2015-11-03 00:24] kshefchek commented on #203
And I'm assuming this is the currently disabled compare section:
that's correct

        Phenogrid only parses the simsearch format like Example 2, if it's Example 1, phenogrid will need to use the phenotype list to load the corresponding simsearch JSON.

I think that is fine.  Both examples used to work but we can make a new one for example 1.  Do we have documentation on what JSON schema (not su

[2015-11-03 14:49] yuanzhou commented on #203
@kshefchek Here is the simsearch JSON schema required by Phenogrid: https://github.com/monarch-initiative/phenogrid/blob/master/tests/mocha/simsearch-schema.json But this schema is inconsistent with Example 1 and 2.

Here is a real simsearch output for Phenogrid:

[code]

You may need to copy and paste it to a JSON viewer. `a` contains all the phenotype IDs in an array. That's what phenogrid needs

[2015-11-03 17:38] yuanzhou commented on #203
@kshefchek would it be too much work to have a compare api in POST? The initial data loading methods in phenogrid's dataLoader are tightly coupled. To make geneList work, I'll still need to reuse the dataLoader constructor and the related ajax  POST as well as callbacks. The current compare API only does GET request with the phenotype id list and gene id list. Can you also add a POST version of th

[2015-11-03 18:53] yuanzhou commented on #203
@kshefchek Ignore my request to have a POST compare api. I think I can reuse some of dataLoader methods by making corresponding changes for geneList.

One question: does this phenotypes and genes compare care about which species?

[2015-11-03 19:41] kshefchek commented on #203
Since we're narrowing the search space by comparing to specific genes, this wouldn't require specifying species since gene ids are species specific.

[2015-11-03 19:53] yuanzhou commented on #203
@kshefchek Thanks Kent. Sorry to say this, but after digging into the dataLoader code, I still think ajax POST version of the compare API makes more sense.

Can you please wrap the compare in a POST version like this:

For example:
[code]

The reason is phenogrid dataLoader's ajax GET method takes very different parameters and ajax POST is designed very specific to the way that how dataLoader shou

[2015-11-03 19:58] kshefchek commented on #203
Sure, I've held off so far as the GET method has distinctions between grouping things with a plug sign versus a comma, maybe for the POST we can simplify it.

[2015-11-03 20:27] yuanzhou commented on #203
@kshefchek

    Since we're narrowing the search space by comparing to specific genes, this wouldn't require specifying species since gene ids are species specific.

Is it possible that we could use a fish gene and a mouse gene for this comparison? Or all the provided genes in geneList has to be for the same species? I asked this because when we transfer the raw simsearch data into Phenogrid dataL

[2015-11-03 20:47] kshefchek commented on #203
The output from the compare call should theoretically include species name, are you finding some cases where this information is missing?

[2015-11-03 22:05] nlwashington commented on #203
@yuanzhou you say that the "species name" is used to identify the target group.
i would much prefer that the target group is specified by the config or user.  the grouping could be done in any kind of way.  here, the user has specified their groupings.  in the case of user-specified gene list, i want to preserve my groupings in the way that i have given them to you.  perhaps i even want to name my

[2015-11-03 22:06] nlwashington commented on #203
in the case of our existing example of simsearch, we've just already supplied the groupings to be conveniently set to species.  but it would certainly be possible to re-group using other predefined things, like pathways, or gene families, or GO function, etc.

[2015-11-04 14:45] yuanzhou commented on #203
@nlwashington agreed. And I've noticed some unexpected behaviors if the provided gene list contains genes from multiple species, since currently phenogrid grabs the simsearch data for per species based on the config file. I'll work around this.

[2015-11-04 17:30] kshefchek commented on #203
As far as the phenogrid internals, this would be similar to setting the species to "all" and ideally the UI would be driven by the output from the simsearch or compare.  I know at one point "all species" meant human, mouse, zebrafish, is that still the case?  Maybe we can use this to drive the use case of having a variable number of species show up in phenogrid, as I think we're also close to addi

[2015-11-04 17:48] yuanzhou commented on #203
You are right @kshefchek , I asked Mike for the phenogrid data structure and config details (since he started the refactoring) and he pointed me to a similar workaround. I used "compare" as the grouping name for` geneList` case. And after some code tweaking I finally got it work with the compare mode.

I'll do more testing before making the commit. I'll prob commit directly in the monarch-app mast

[2015-11-04 17:53] kshefchek commented on #203
great! I think I am seeing similar issues, is it when the compare function cannot find any similarities between the gene list and phenotypes?  What should the output look like in this case?

[2015-11-04 20:59] yuanzhou commented on #203
@kshefchek yes, for example: http://beta.monarchinitiative.org/compare/MP:0000433/NCBIGene:388552,NCBIGene:12166

it was working and returned the desired JSON data in the morning. While it only returned

[code]
this afternoon.

The desired JSON format should look like the JSON from `simsearch/phenotype`, here is a sample output:

[code]

[2015-11-04 21:03] kshefchek commented on #203
Any chance you could narrow down what we're missing specifically?  Do we want an empty property "b" which has an empty list as a value? For example:

        {"b":[],"a":{"id":"MP:0000433","label":"microcephaly","type":"phenotype","taxon":{},"id_list":["MP:0000433"]}}

[2015-11-04 21:07] yuanzhou commented on #203
"b" should contain all the matches. here is a quick example:

![capture](https://cloud.githubusercontent.com/assets/195873/10951903/fc99e3cc-830d-11e5-8e73-80b92372d7dd.PNG)

Phenogrid parses the "b" to generate the grid cells. And "metadata" is used for color scale.

[2015-11-04 21:43] kshefchek commented on #203
I switched our solr index back to an earlier version, so the compare queries should be working again now.

[2015-11-05 18:46] yuanzhou commented on #203
@kshefchek did more testing, and this one didn't work.

http://beta.monarchinitiative.org/compare/HP:0011372+HP:0012594+MP:0000433/NCBIGene:616699,NCBIGene:9322

it only returned

[code]

Does this mean the simsearch didn't find any matches with the provided phenotypes and genes? Do we have a standard JSON to indicate that there's no data found?

[2015-11-05 18:58] kshefchek commented on #203
That's correct, neither of these genes have any associated phenotypes so this is the default json that is returned.  Do we need to make an update to the output?

[2015-11-05 19:12] yuanzhou commented on #203
@kshefchek I see. No need to update the output format. I'll just check if  the `b` part is in the resulting JSON. I'll assume no data found if `b` is missing.

[2015-11-05 20:29] harryhoch opened #214 "hide minimap for small grids"
can we hide the minimap when either dimension is small (say < 10)?

[2015-11-05 21:04] yuanzhou commented on #203
@kshefchek I added orthologs and paralogs for testing, there are matches, but the `metadata` (to be used for creating color scale) is missing. So I got the phenogrid view rendered by the grid cell colors are incorrect.

Similar to https://github.com/monarch-initiative/monarch-app/issues/1005

URL:
http://beta.monarchinitiative.org/compare/HP:0012594+MP:0000433/NCBIGene:100856649,NCBIGene:616699,NC

[2015-11-05 21:10] yuanzhou commented on #214
It depends.

Here is an example that we may want to hide the mini map:
![capture2](https://cloud.githubusercontent.com/assets/195873/10981781/bde73538-83d7-11e5-9305-763324233aa0.PNG)

Here is an example that we want to keep the mini map:
![capture](https://cloud.githubusercontent.com/assets/195873/10981770/afd8a206-83d7-11e5-9f37-3c4cd33d512c.PNG)

[2015-11-05 22:00] harryhoch commented on #214
How about we keep it if there are more than 10 rows or columns. …?
On Nov 5, 2015, at 4:10 PM, Kent Shefchek <notifications@github.com<mailto:notifications@github.com>> wrote:

It depends.

Here is an example that we may want to hide the mini map:
[capture2]<https://cloud.githubusercontent.com/assets/195873/10981781/bde73538-83d7-11e5-9305-763324233aa0.PNG>

Here is an example that we want to keep

[2015-11-06 00:29] nlwashington commented on #214
+1 on removing it (at least sometimes).

you need it only if for moving around.  since you have a hardcoded number of rows and cols, then the minimap is only needed if there are more rows/cols than that.

which is a separate issue of what to do if you have << max row or col, but the other dimension is much larger (with say 2 rows but 100 columns).  in that case, you will still need the minimap for

[2015-11-06 01:01] harryhoch commented on #214
@nlwashington, agreed. We should still look into scrollbars..

[2015-11-09 16:39] yuanzhou commented on #203
I've added the data integrity check to see if `metadata` field if there. Otherwise show  this error message instead of the actual phenogrid view with wrong color.

![capture](https://cloud.githubusercontent.com/assets/195873/11039612/8605a53a-86d6-11e5-8ae6-d1d1fd9be0bf.PNG)

[2015-11-09 16:43] harryhoch commented on #203
Thanks for putting in error message, Zhou, but this is a bit cryptic. Why does this problem come up? Can we ensure that we have the right metadata?

[2015-11-09 16:51] yuanzhou commented on #203
@harryhoch we don't have to worry about this with the regular simsearch results since all the required fields (`a`, `b`, `metadata`, `resource`) are always there and there's always matches. But the compare API used by the analyze phenotypes page has been unstable and for many queries (user-typed phenotypes and gene list) the resulting JSON doesn't contain `b` (all the matches info) or the `metadat

[2015-11-09 16:55] harryhoch commented on #203
ok, thanks. So long as they're working on this on monarch-app...

[2015-11-10 17:35] yuanzhou commented on #214
I'm thinking about the scrollbars + mini map design. Scrollbars can't show the overall grid data density, but it's also hard/impossible to use a square mini map to reflect the actual ratio of the columns (say 1000) and rows (20) with all the cells evenly spread. If we don't care about the overall data distribution, scrollbars fit the purpose of navigation/moving regardless of the number of columns

[2015-11-10 19:08] harryhoch commented on #214
@yuanzhou agreed, nothing will be perfect. How hard would it be to implement scrollbars?

[2015-11-10 19:23] yuanzhou commented on #214
@harryhoch my plan is to look into the mini map code, and know how the drag updates the columns/rows. Then create SVG rect with draggable area for vertical and horizontal to make them function like scrollbars. When we drag the scrollbar slider, the grid view and mini map shaded area will also need to be updated accordingly. And also hide the mini map as well as scrollbars if either the number of c

[2015-11-10 20:33] harryhoch commented on #214
ok @yuanzhou, sounds good.

[2015-11-11 21:03] yuanzhou commented on #214
I think I found a better solution to address this issue by still using the mini map not not adding the scrollbars.

Here are the different cases (before inverting the axis):

## In multi species comparison mode: ##

### 1. No need to show mini map if the numbers of x and y items are within the default limits. The grid region shows everything.

![1](https://cloud.githubusercontent.com/assets/195873

[2015-11-11 21:14] harryhoch commented on #214
@yuanzhou, I like this analysis, but I think there is still a strong feeling that scrollbars are preferred. @nlwashington, what do you think? @yuanzhou, how hard would it be to do scrollbars?

[2015-11-11 21:16] nlwashington commented on #214
i really like what's been done here to shrink the minimap when those times warrant it.  and yes, when the rows/cols are < max, then yes i think adding scrollbars for the appropriate axis is still desired in addition.

[2015-11-11 21:25] harryhoch commented on #214
thanks, @nlwashington. It sounds like this might be more of a "like to have" , more than a "must have". @yuanzhou, how hard would scrollbars be?

[2015-11-11 22:56] nlwashington commented on #214
@harryhoch can you clarify what the like/must is referring to exactly?

[2015-11-11 23:18] harryhoch commented on #214
@nlwashington, trying to prioritize. Is this something that you consider very important, or just somewhat important?

[2015-11-11 23:19] nlwashington commented on #214
which "thing"?  adding scrollbars, or the making the minimap look correct?

[2015-11-11 23:22] harryhoch commented on #214
scrolabars. we should absolutely fix the minimap

[2015-11-11 23:22] nlwashington commented on #214
i consider navigation around the grid essential.

[2015-11-11 23:23] harryhoch commented on #214
ok, so you would put a high priority on srollbars.. got it. @yuanzhou, how hard is this?

[2015-11-12 00:23] yuanzhou commented on #214
@harryhoch I've played with the mini map fix in my branch and I think I've got 90% of the work done.

Adding scroll bars shouldn't be very hard, it may take a bit time to figure out how to have the grid cells and the mini map view updated once we scroll. I'll dig into it and post my progress and questions here for feedback.

[2015-11-12 02:18] harryhoch commented on #214
Great, thanks.

[2015-11-12 20:33] harryhoch commented on #214
@nlwashington, @doctorbud made an interesting suggestion - wanted to get your feedback. Instead of scrollbars, we could adopt a tablet/map -like navgiation whereby you would click-drag while moving in one of the directions, effectively providing a map-like pan. Thoughts?

[2015-11-12 21:00] yuanzhou commented on #214
This is not the best example but kinda similar to what we discussed: http://bl.ocks.org/nnattawat/9689303#index.html

As Harry mentioned, the grid cell tooltip hover over may create some annoying behaviors when we drag the whole grid region if the mouse happens to hover over a grid cell.

[2015-11-17 14:29] yuanzhou commented on #214
Have  merged the minimap PR #217, will create a new ticket for scrollbars for discussions.

[2015-11-17 14:29] #214 closed

[2015-11-17 14:54] yuanzhou commented on #203
I'll close this issue and add another issue for Exomiser hook.

[2015-11-17 14:54] #203 closed

[2015-11-19 16:12] yuanzhou commented on #22
@harryhoch @nlwashington I think I've added the scrollbars and make it interact with the minimap.

Rules:

- The appearance of mini map and scrollbars are based on the x and y counts. And the appearance of vertical scrollbar is decided by the y count, horizontal scrollbar is decided by x count. So if there are only two sources (phenotypes) but 10000 matched targets (say genes),  we only show the m

[2015-11-20 16:37] yuanzhou commented on #22
@harryhoch Made some styling tweaks based on your suggestion:

![capture22](https://cloud.githubusercontent.com/assets/195873/11305476/d5c7490a-8f7a-11e5-8501-d35bccdb5a15.PNG)

and I also applied a different color while dragging the slider:

![capture](https://cloud.githubusercontent.com/assets/195873/11305498/f7425ad4-8f7a-11e5-927e-dc0a0a2aa41a.PNG)

[2015-11-20 17:13] harryhoch commented on #22
@yuanzhou - nice! Thanks!

[2015-11-20 19:11] yuanzhou opened #219 "Disable mouseover event for cells and labels while dragging the minimap"
Noticed this interesting behavior today while I was dragging the shaded area in the mini map. If I the mouse is pressed while dragging and the crosshairs will be triggered when you drag randomly over the grid cells or labels. This also happened to the scrollbars dragging.

[2015-11-20 19:22] yuanzhou commented on #219
It turned out that the random dragging (minimap, scrollbars) only triggers the appearance of crosshairs when the mouse also hover overs the grid cells and labels during dragging. Luckily, I only needed to remove those crosshairs during dragging.

[2015-11-20 19:22] #219 closed

[2015-11-23 18:59] yuanzhou commented on #22
Merged via PR #220

[2015-11-23 18:59] #22 closed

[2015-11-23 20:13] yuanzhou commented on #49
Can we close this @harryhoch ? Phenogrid still uses that `/simsearch/phenotype?input_items=` to get the simsearch result. And it uses `compare/` api for comparing a list of phenotypes with a list of genes.

[2015-11-23 20:33] yuanzhou commented on #137
@harryhoch just want to get your opinion on this and the adaptive re-sizing based on the container screen size that we talked about last week. Actually in the "analyze/phenotype" page, under search section, we can specify a user-defined limit for single species query. But it always only displays the first 10 (can be changed in code config) of each species in the cross comparison mode.

When you ru

[2015-11-23 21:34] harryhoch commented on #137
yes, understood, but the question is really this - can we use the size of the containing div element to figure out how many columns to grab?. If we can do that, we don't need a user control, do we?

[2015-11-23 21:35] harryhoch commented on #49
Please leave this open, as per @nlwashington's comments above.

[2015-11-23 21:49] yuanzhou commented on #137
We sure can use the size of containing div to determine how many columns to grab.  But this doesn't make more sense than a pre-defined number (the current cutoff number is 100, set by the returning JSON). Because no matter how many columns to display, we can always fit them into the containing div with the help of scrollbar. In short, the number of columns doesn't matter since we have the scrollba

[2015-11-23 21:56] harryhoch commented on #137
ok, fair enough. Can we add a configuration option?

[2015-11-24 14:47] yuanzhou commented on #137
I'm debating with myself between these two approaches.

1. Still load 100 (the default cutoff value) models for single species mode upfront to render the initial Phenogrid. Show a control in the OPTIONS dialog and allow the users to hit a button and add another 100 models at a time. No button to remove the already added models since they can always scroll back. It also simplifies the dataset updat

[2015-11-24 14:53] yuanzhou commented on #49
@harryhoch I'm a little confused. I checked out Nicole's comments and what she mentioned have already been taken care of. And basically she said we should keep this hard coded route config. Did I miss anything?

[2015-11-24 14:56] harryhoch commented on #137
@yuanzhou, we might just have to try it out. Can you try #2 and see how well it works?

[2015-11-24 15:02] harryhoch commented on #49
@yuanzhou, ok, thanks. If this is done, then close it. More likely that I missed something.

[2015-11-24 15:08] #49 closed

[2015-11-24 15:10] yuanzhou commented on #137
@harryhoch yes, I'll play with that. Thanks!

[2015-11-24 19:50] yuanzhou commented on #137
Interesting findings. I tested with the index.html for single species since it has a long list of phenotypes. After I increased the limit to 1000, the data loading seemed fine, but dragging the minimap and the scrollbars caused a very noticeable delay on the updates of the shaded area as well as the scrollbar slider and grid cells. Still had this problem after I reduced the limit to 300 (a little

[2015-11-24 20:10] harryhoch commented on #137
@yuanzhou, an image sounds great, thanks.

[2015-11-30 14:50] yuanzhou opened #221 "Design considerations about adjusted columns/rows after inverting axis"
This issue is related to #137 but needs some different discussions.

When we dynamically adjust the number of columns/rows based on the containing div's width/height, we could use more display space to show more grids. It comes to the question when we need to invert the axis. Say we are displaying 60 visible columns (100 total) and only 30 visible rows (100 total) within the current containing div

[2015-11-30 15:19] harryhoch commented on #221
@yuanzhou, I think this is a relatively minor point. We might provide some guidance for potential users,  for example, by indicating that inverted displays might want to be careful about the size of the containing div. If they size things right, there should not be a problem. That might be the best we can do....

[2015-11-30 15:29] yuanzhou commented on #221
@harryhoch got it. Does this also mean that I don't have to worry about the inverting and just keep what we have now?

[2015-12-03 17:04] yuanzhou commented on #221
This issue is relatively minor in the current development goals after discussion. So I'll close it. Will re-open it if it's needs to be addressed in the future.

[2015-12-03 17:04] #221 closed

[2015-12-04 02:10] kshefchek opened #222 "One off error in species separator for mouse-zebrafish"
The species separator between mouse and zebrafish genes appears 1 field to the right of the first zebrafish gene.  See http://monarchinitiative.org/disease/OMIA:001158-9796 as an example.

[2015-12-04 21:42] yuanzhou commented on #222
Thanks @kshefchek, I've fixed this error and merged the PR. Also updated the npm version. When you have a chance, please also push this to the production server.

[2015-12-04 21:42] #222 closed

[2015-12-04 21:52] jmcmurry opened #224 "Add the total number of hits per taxon"
Spoiler alert: potentially terrilble idea...
It is bugging me a little that it isn't very obvious that there's more data for a given species than we present when in the 3 species view. I'm wondering if it is possible to have a scroll bar for each species as well as the one recently implemented for all species?

[2015-12-07 13:36] yuanzhou commented on #224
I see your point. Right now we only configured to display 10 targets (genes/diseases) per species in the cross comparison mode. And the vertical scrollbar is available if we have more sources (targets) than the default number. I can say it's lots harder to add a horizontal scrollbar for each species in the cross comparison mode, because all the targets are rendered using one target axis group, sam

[2015-12-07 15:31] harryhoch commented on #224
yes, I agree. scrolling individually per species could be a pain.

Alternative suggestion - can we change labels for the species to indicate how many models are available?

[2015-12-07 19:26] jmcmurry commented on #224
@harryhoch that's a reasonable possibility, provided it is actionable. Eg. a button that says "see all 28 models"

[2015-12-08 14:08] yuanzhou commented on #224
@harryhoch @jmcmurry after playing with this, I feel adding the total number of available models in the single species mode makes more sense. Because in single species mode when we show that number under the species name, users tent to scroll to the end to explore more models. In cross comparison mode, if we show that number under each species name, but there's no horizontal scrollbar accordingly,

[2015-12-14 21:00] yuanzhou opened #226 "Odd behavior when loading multiple instances of Phenogrid on the same page"
Jules noticed this issue when integrating multiple instances of Phenogrid into the IMPC site.

I'm loading multiple instances of the grid on the page (once per disease/gene panel) and there is some horrible global variable type issues. I suspect this is because of the JQuery selections for various elements having the same name. For example the title gets garbled with multiple renderings overwritin

[2015-12-14 21:41] yuanzhou commented on #226
I foresee there are several things involved to fully address this issue:

- rename DOM selectors from ID to class, this may fix some of the display issues, but won't be able to take care all of them.

- once we change some CSS IDs to classes, we'll need to find a way to re-position the OPTIONS control dialog as well as the unmatched phenotypes dialog based on their containing div of each widget in

[2015-12-15 19:37] yuanzhou commented on #226
From @harryhoch:

Would that work?  It might be a bit of a pain to implement, but I think it might be conceptually possible.

[2015-12-16 14:42] julesjacobsen opened #228 "Don't display Unmatched Phenotypes if there are no unmatched phenotypes"
This is just confusing clutter if it's not being used e.g.

http://monarchinitiative.org/genotype/MONARCH:8560659805ad3d04985228f2bc2d7b92

Related to: #173

[2015-12-16 14:45] julesjacobsen commented on #226
The phenogrid constructor requires a parent element in which the phenogrid is inserted. Using the id of this parent element and appending this to the phenogrid element ids would make the id unique, providing the parent element id is unique. If it isn't then we're no worse off than we are currently.

[2015-12-16 19:45] jnguyenx opened #229 "Handle the case when there are no matches"
Currently this phenotype is unknown from owlsim, thus there are no gene matches.

Phenogrid should display a message like "No gene matches this phenotype".

http://stage.monarchinitiative.org/gene/WormBase:WBGene00004898

[2015-12-17 14:04] yuanzhou commented on #229
I went to beta and production server and tested this gene page. Both have the compare tab disabled by default.

http://beta.monarchinitiative.org/gene/WormBase:WBGene00004898

![capture](https://cloud.githubusercontent.com/assets/195873/11871350/fd195174-a49c-11e5-9c93-727a43e3b8e9.PNG)

While the staging server shows a different look of the page, the compare tab is enabled.

http://stage.monarchi

[2015-12-17 14:07] yuanzhou commented on #228
Thanks @julesjacobsen, I'll add a check and hide this Unmatched Phenotypes when this's no unmatched.

[2015-12-17 14:10] yuanzhou commented on #226
@julesjacobsen exactly, I've been making changes using this approach. And also changed the corresponding CSS IDs into classes, and added additional CSS classes to recreate the styling since we won't be able to specify the styling based on the dynamic containing div's ID.

[2015-12-17 15:55] #228 closed

[2015-12-18 20:51] jnguyenx commented on #229
So I checked with Kent, and beta was pointing to the the production servers, that's why the behavior was different. He switched it to the beta servers to make things consistent.

Now we can see the same errors on both beta and stage.

[2015-12-19 03:29] yuanzhou commented on #229
Thanks, I'll get this fixed this issue and add some messages for users.

[2015-12-21 17:22] yuanzhou commented on #229
@harryhoch just wanted to give you a heads up and also get your comments on this. After some digging, I realized that this issue brings up a good time to refactor the message reporting mechanism in Phenogrid. There are three types of message reporting:

1. Regular simsearch. We need to notify the users if no matches found for each species. This is what this issue suggested and we don't have this i

[2015-12-21 17:41] harryhoch commented on #229
@yuanzhou, Sounds good. Please try to make these messages as configurable as possible. Ideally, they should be taken from values in the configuration JSON whenever possible.

thanks.

[2016-01-05 17:38] yuanzhou commented on #229
This issue has been addressed in PR #231 by adding a messaging reporting handling to Phenogrid.

[2016-01-05 17:38] #229 closed

[2016-01-05 17:39] yuanzhou commented on #226
This issue has been addressed in PR #230

[2016-01-05 17:39] #226 closed

[2016-01-06 16:14] harryhoch commented on #11
@yuanzhou, can we close this issue?

[2016-01-06 16:24] yuanzhou commented on #11
@harryhoch thanks for reminding me this. All related issues have been addressed I think. I'll close it.

[2016-01-06 16:24] #11 closed

[2016-01-13 22:39] jmcmurry commented on #62
It would be good to be able to sort by number of matched phenotypes, for example. Fancier ranking would be awesome, but requires some back-end enhancements to Owlsim. see www.github.com/monarch-initiative/owlsim-v3/20

[2016-01-13 22:43] jmcmurry commented on #62
For clarity, I should mention that the column sorting should spawn another simsearch, not just sort existing results. Otherwise ranking is less useful, esp re: number of matched phenotypes. Having said this, we would still need a lower threshold for what constitutes a hit, otherwise we might get a set of really comprehensive but absurdly fuzzy matches.

[2016-01-13 22:49] nlwashington commented on #62
longer term, it might be great to visualize the results using hierarchical clustering...once we add individual/patient data, this would be an interesting way of stratifying groups of results by their clustered phenotypes.  this may mean the existing approach to be flawed/unscalable but should be considered when making any longer-term decisions.  I looked into how to accomplish this using R-shiny,

[2016-01-13 22:50] jmcmurry commented on #62
In the inverted axis view, I see that at least now the columns are now sortable. Perhaps there are data structure issues that make it non trivial to sort columns in the non-inverted format, but just thought I would prompt clarification on this. @yuanzhou? Fancy stuff is of course a longer-term goal.

[2016-01-14 13:28] yuanzhou commented on #62
Thanks for the suggestions @jmcmurry @nlwashington, both links that you two mentioned are 404 pages. Right now we can sort the y-axis items by Frequency/Alphabetic/Frequency and Rarity, and the x-axis items are sorted based on their ranking sores. We can definitely think about other fancy ways of sorting them too.

[2016-01-14 19:14] harryhoch opened #232 "configuration of index page"
index page currently is hard coded to go straight to beta. We should revise to  have index page configuration be dynamically inferred from web pgae url, so that production page will hit the production server.

[2016-01-15 14:02] yuanzhou commented on #232
How can you dynamically infer the serverURL from web page? If any third parties use Phenogrid, the default serverURL should be the monarch production. Should I change all the beta to production in index page? And only use beta for testing purposes?

[2016-01-15 14:25] harryhoch commented on #232
in Javascript window.location.hostname should give the URL.  jQuery might have some cleaner way of doing it.

otherwise, defaulting to production for third-party and the index page  sounds right

[2016-01-25 19:04] yuanzhou commented on #232
Since we've agreed to have a simplified index.html pointing to the production server and I've committed the changes. I'm closing this issue.

[2016-01-25 19:04] #232 closed

[2016-02-04 18:42] harryhoch commented on #53
duplicate https://github.com/monarch-initiative/phenogrid/issues/136

[2016-02-04 18:42] #53 closed

[2016-02-10 21:27] kshefchek opened #233 "Allow loading of json directly into phenogrid"
There may be some use cases where a client would generate a JSON object and directly pass this into phenogrid, ideally via a lightweight API.  The two use cases would be
1. Send entire json object to phenogrid and display
2. Send [skeleton json structure](https://github.com/monarch-initiative/phenogrid/blob/impc-integration/js/impc.json) to phenogrid, compare using owlsim, and display.

@yuanzhou

[2016-02-10 21:56] harryhoch commented on #233
yes, this is on our list.

[2016-02-11 15:01] yuanzhou commented on #233
Thanks for the suggestion @kshefchek, I'll work on this. It does sound similar to the IMPC integration.

@harryhoch, I'll probably need more of your input since it sounds like there are some discussions around this topic during the meeting.

[2016-02-11 15:10] harryhoch commented on #233
@yuanzhou yes, we can certainly discuss

[2016-02-12 12:20] julesjacobsen commented on #233
This should absolutely be a top priority to fulfill the 'generic reuse' requirement. Giving people vendor codes and writing custom loaders for them is really going to make your life hell ;)

[code]

[2016-02-12 13:54] yuanzhou commented on #233
@julesjacobsen there are things we can do to minimize the use of custom loaders for vendor data. But as long as the vendor data doesn't follow the same schema/convention/format, we still need custom loaders. Please let me know if you have any good suggestions based on the IMPC integration.

[2016-02-12 15:04] harryhoch commented on #233
@yuanzhou, I think we should start with handling data that passed in thorugh the usual phenogrid format.

As I see it, the change would be like this.  Right now, we have

    Phenogrid.createPhenogridForElement(document.getElementById('phenogrid_container5'), {
        serverURL : "http://beta.monarchinitiative.org",
        phenotypeData: phenotypes,
        targetGroupList: [
            {name:

[2016-02-12 15:10] yuanzhou commented on #233
@harryhoch are you suggesting not to allow users to specific the target species as well as if that species should appear in the cross-comparison view? That `targetGroupList` controls what species we want to display and if each one needs to be in the cross-comparison view.

A similar thought: by default we can just load data for all species and show them all in cross-comparison view, and users can

[2016-02-12 15:14] harryhoch commented on #233
@yuanzhou - no  we can include the target species there, that's fine.

I think the point that @julesjacobsen and @kshefchek are looking for is that we should have a means of populating the grid without ever calling against the monarch server, if the client wants... ok?

[2016-02-12 15:23] yuanzhou commented on #233
@harryhoch I agree. Both options that @kshefchek suggested are great. And the skeleton JSON structure/schema can also be used as a format validator of the incoming data. This would certainly pass the data loading and formatting to the users and make the phenogrid rendering faster.

[2016-02-12 16:41] julesjacobsen commented on #233
The second option that @kshefchek suggested was exactly what I was originally trying to suggest that you did. The whole point of giving you the [skeleton json structure] (https://github.com/monarch-initiative/phenogrid/blob/impc-integration/js/impc.json) was that it gave you a skeleton json structure with which to build the grid and then populate using the compare API.

This is how I was though wo

[2016-02-15 14:26] yuanzhou commented on #233
@julesjacobsen thanks for the suggestion. I'm working towards this goal. Using the skeletonJsonData directly will also eliminate the needs of having a gene ID and disease ID to be provided via the constructor in terms of the IMPC integration.

[2016-03-04 16:12] yuanzhou opened #238 "Dividers appear when render multiple containers with the same ID"
This is an edge case discovered during the Phenogrid/IMPC integration process. When we render Phenogrid to multiple containers with the same ID, depending on the network, we may see the red dividers appear. Guess the multiple containers with same ID made the data rendering confused. Thus Phenogrid may try to render the same data as from multiple species and created the divider lines. We are not su

[2016-03-04 18:01] yuanzhou commented on #238
According to HTML5 specification: https://html.spec.whatwg.org/multipage/dom.html#the-id-attribute

The id attribute specifies its element's unique identifier (ID).
The value must be unique amongst all the IDs in the element's home subtree

But there's no guarantee of never having duplicated IDs. Ideally, even when there are multiple containers with the same ID, we should only display one same Phe

[2016-03-04 21:18] yuanzhou commented on #238
@julesjacobsen

It turned out that this issue was not caused by the multiple html containers with the same ID. I tested with only one container by creating the same/similar Phenogrid instances on this same container and reproduced the divider lines as well.

[code]

No matter how many duplicated containers we have in HTML, only the first containing div is used to render the widget instance.

The r

[2016-03-04 21:18] #238 closed

[2016-04-12 13:41] julesjacobsen commented on #233
I think this can be closed now.

[2016-04-12 13:43] julesjacobsen opened #240 "Centre labels on the columns they're labeling to prevent overlap?"
This shows how the lables overlap when the columns are of different sizes - can the labels be centred on the columns they're labeling?

see impc.html in commit: b2057baa4b548af7305e58738e15ecd1f4e5ee27 for example of the labels overlapping

[2016-04-12 13:47] julesjacobsen opened #241 ""crossComparisonView" and "active" appear to be redundant. Are either of them required?"
[code]
"crossComparisonView" and "active" appear to do the same thing - hide a group. I'm not sure isf that's what was intended, but if this feature is required a single property would be better. I'd go for "active" if there is a choice.

Secondly - what's the point of this anyway?  If you don't want to display the data, don't put it in there to start with. What's the use-case for this?

[2016-04-12 13:47] #233 closed

[2016-04-12 13:55] yuanzhou commented on #241
I had the same questions before. It's designed by another developer during the initial refactoring phase. According to the documentation, this is useful, if you not longer want that target group to be displayed within phenogrid and would like to retain the target group reference within the list.

Actually I noticed there's a difference between the `crossComparisonView` and `active`. Basically `act

[2016-04-12 14:00] yuanzhou commented on #240
I noticed the same overlapping issue and got some suggestions from Harry a week ago:

1. calculate the x coordinate of the point where the angled red diving will hit the horizontal line containing the labels. Start the label there. In your picture below, this would have the impact of moving Group 2 to the right.

2. If the labels are still too long relative to the width of each group, we might try

[2016-04-12 15:41] julesjacobsen commented on #241
OK, so that's how it works. But do you think this makes sense? Having an "active" switch makes no sense. I can see why you might want to load, but not display the data unless the user wants to toggle it on. But what's the point of putting a bunch of data into the json object which you then mark as being completely ignored?

Just having ```"crossComparisonView"``` and changing its name to ```"shown

[2016-04-12 16:06] harryhoch commented on #240
@yuanzhou, is there some reason why #2 wouldn't work?

[2016-04-12 16:36] jmcmurry commented on #240
Is there a reason that we can't (or shouldn't) just hide text that doesn't
fit, and have it expand when moused over?

[2016-04-12 16:38] jmcmurry commented on #240
Another thought is that, regardless of approach, we could also abbreviate
"abnormal" to "abn." as the majority of the phenotypes display as such?

[2016-04-12 17:34] yuanzhou commented on #240
I'm also attaching a screenshot to assist this discussion.

![capture](https://cloud.githubusercontent.com/assets/195873/14469424/81cc1020-00b2-11e6-9c33-399b85724e3d.PNG)

@harryhoch the reason I didn't go with option 2 was because I was afraid if there's a long title, even after staggering them, it would still cause some vertical overlaps, still readable though, won't look very balanced. I also

[2016-04-12 17:44] yuanzhou commented on #241
@julesjacobsen I agree with you to be honest.

@harryhoch is that OK if I get rid of `crossComparisonView` and `active` from the config? We can always comment out those groups in code if need to retain the target group reference within the list. So all the groups specified in config/constructor will be the groups we want to display and can be turned on/off in selection menu. No need to use switche

[2016-04-12 17:50] harryhoch commented on #241
@yuanzhou , @julesjacobsen , I trust your collective judgment on this one.

[2016-04-12 17:52] harryhoch commented on #240
@yuanzhou, ok, but don't rule out vertical stagger. could still be useful.

[2016-04-12 18:07] yuanzhou commented on #241
https://github.com/monarch-initiative/phenogrid/commit/b259d7dbc6aa0433276087e0e085dc9a57daf65a

[2016-04-12 18:07] #241 closed

[2016-04-12 18:28] yuanzhou commented on #240
@harryhoch I won't. It will be useful.

Here is another example from Jules, which shows the overlapped group titles. There's only one column in either group 1 and group 3, showing the group titles can be challenging especially when they have more characters/words.

![capture](https://cloud.githubusercontent.com/assets/195873/14470985/5cd7b078-00ba-11e6-80af-d2c26347aa16.PNG)

[2016-04-13 13:11] julesjacobsen commented on #241
Cool, this looks way better now.

[2016-04-13 13:24] julesjacobsen opened #242 "gridSkeletonDataVendor still required?"
gridSkeletonDataVendor == "IMPC" in all cases, so what's the requirement of having gridSkeletonDataVendor to go with gridSkeletonData? If there is gridSkeletonData, can you not just load it?

[2016-04-13 13:28] julesjacobsen commented on #240
You could stagger them as @harryhoch suggested and truncate if they are too long. Implemeting a mouse-over as @jmcmurry suggested will catch any cases where the names are truncated if they are too long. I think that way we've got all the bases covered?

[2016-04-13 14:01] yuanzhou commented on #242
Yes Sir! It's still required for now. For two reasons:

1. Monarch use case has a different tooltip rendering

2. Monarch doesn't provide all the source phenotype labels/terms as IMPC does, so I'll have to send out extra calls to grab those labels for UNMATCHED phenotypes.

[2016-04-13 14:13] julesjacobsen commented on #242
Ah, OK. So this is a Monarch 'issue' where they don't fully implement the phenogrid skeleton data. Can I suggest that the gridSkeletonDataVendor be removed for IMPC and changed to MONARCH. Assuming that the current IMPC setup is the more generic use-case. Do ZFin use the gridSkeletonDataVendor == IMPC for example? That would be weird. If everyone is a special case then forget it.

[2016-04-13 14:48] yuanzhou commented on #242
Keeping the `gridSkeletonDataVendor: "IMPC"` is only one line of code in config, and change it to `Monarch` will require many other changes in Phenogrid, because there are several other use cases that are tied to Monarch's analyze/phenotypes section, which requires different data loading and rendering. Even if the current IMPC setup is more generic, Monarch is still the backend of Phenogrid, I'd r

[2016-04-13 14:53] harryhoch commented on #240
@julesjacobsen, yes. There are a couple of other tricks that one might use, including using alpha-blending and changing transparency on mouse-over, but that covers the basics

[2016-04-13 14:56] yuanzhou commented on #240
I played with the mouse over idea, by only showing the first character of the group label. The reason why I only use one character is because it's very possible that we have multi groups, and all of them has only one column in the grid. Anything longer than one character or an icon will cause overlapping again.

![capture1](https://cloud.githubusercontent.com/assets/195873/14497722/bfe28f7a-0165-1

[2016-04-13 16:17] harryhoch commented on #240
@yuanzhou, how about we stagger if the usual view and don't display when inverted?

[2016-04-13 19:14] yuanzhou commented on #240
Thanks @harryhoch, no group labels when inverted makes the UI look better. And normally users would expect the same group order after inverting, so as long as we have the group labels before inverting, it should be no problem.

I tried to stagger the group labels and it worked very well.

![capture33](https://cloud.githubusercontent.com/assets/195873/14505817/d72cd262-0188-11e6-8cbf-2270812245de.P

[2016-04-13 19:21] harryhoch commented on #240
@yuanzhou, I think that looks good. It's never going to be perfect, and edges cases are always hard. Thanks for doing this.

@julesjacobsen, what do you think?

[2016-04-13 19:31] yuanzhou commented on #240
@harryhoch I also encountered the same requirement when testing the fly and worm data in monarch. There are cases that there's only one match in fly but 10 matches in fish in the multi-group view. So get this issue addressed properly benefits both IMPC and monarch use cases.

[2016-04-13 20:10] jmcmurry commented on #240
What about icons?
- Recognizable
- Work in both horizontal and vertical orientations
- Work even when densely packed

At least for the major species, this should work. For the (eventual) minor species, this can be assessed on an a per-species basis as to whether they get an icon or an abbreviation (eg. Mm).

Regardless, I do think that expansion on hover is where we want to be.

Note that these pa

[2016-04-13 22:27] harryhoch commented on #240
@yuanzhou , do you think the current solution is sufficient?

@jmcmurry, the idea of icons is definitely worth exploring, but I think we need to put this to rest for now. If we are "close enough" with text, I suggest leaving it like that for the time being and making icons a possible enhancement...

[2016-04-14 12:33] yuanzhou commented on #240
@jmcmurry Thanks for making the demo images with icons. Icons can be great if we only have different species. In the current data schema of Phenogrid, it allows multi groups and those groups can be from the same species but different models. In this common use case, all groups are from the same species, so using the same icon won't make good sense. Another reason that it's hard to use icons is all

[2016-04-14 18:42] yuanzhou commented on #240
More examples of the staggered version with 4 groups:

![staggered_group_titles](https://cloud.githubusercontent.com/assets/195873/14539626/27f1da64-024f-11e6-99e0-4dd4cd269e59.PNG)

![staggered_group_titles_fewer_columns](https://cloud.githubusercontent.com/assets/195873/14539628/29e0a7e2-024f-11e6-9e64-68258d85137e.PNG)

[2016-04-14 20:10] julesjacobsen commented on #240
I think the continued stagger looks weird. Wouldn't it be better to have an alternate stagger:

[code]
That way it can scale to any number of groups. There is still the potential of overlaps @yuanzhou  can you try this:
 - Use a scalable cutoff for group label length based on the group size. e.g. ```Gr..```, ```Grou..```
 - Centre justify the label in the middle of the group
 - Add a mouseover too

[2016-04-15 08:58] #242 closed

[2016-04-15 12:46] yuanzhou commented on #240
@julesjacobsen I actually thought about this approach and gave it up. In your examples, there's one thing isn't quite close to what we have now, that's the X labels length. When we have a few columns per group, their labels usually a lot longer. Here is an example, we have 3 groups of 1-2-2 columns. As you mentioned, we can't avoid overlaps without shortening the labels, in this example, group 1 a

[2016-04-15 13:55] julesjacobsen commented on #240
What I meant was to have slightly different rules for groups 0 and N - these can be longer as there is a lot of whitespace to the left and right of these. You know what the maximum label length for column 0 is as this is a constant you've already predefined. Similarly for group N as you know what the available space is before you run of the right margin.

Your final example should only have the mi

[2016-04-15 14:32] harryhoch commented on #240
@julesjacobsen, your points are good, but we really need to wrap this up soon.

@yuanzhou, Iis it possible to try Jules' suggestion in some small amount of time (< 1 2-3 hours)?

[2016-04-15 14:47] julesjacobsen commented on #240
@harryhoch Yes, I completely agree, this needs to be finished soon as it's taken a very long time. Nonetheless, it makes no sense to deliver something half-baked. We've come this far and might as well do a decent job. Once we've done this, we're done.

[2016-04-15 14:56] harryhoch commented on #240
@julesjacobsen, agreed so long as this doesn't open up other problems.  @yuanzhou , can you try it ?

[2016-04-15 14:58] yuanzhou commented on #240
@harryhoch I'm making the changes now. Will post screenshots soon.

[2016-04-15 15:18] yuanzhou commented on #240
First I want to post two rendered examples:

Example 1: only stagger up the group labels with odd number in the list.

![1](https://cloud.githubusercontent.com/assets/195873/14565697/483e1cdc-02fa-11e6-9597-399a1b467933.PNG)

And when we have fewer columns:

![4](https://cloud.githubusercontent.com/assets/195873/14565801/cc5e776e-02fa-11e6-9a7d-1f13ac805f4b.PNG)

Example 2: Left justify the first

[2016-04-15 16:00] julesjacobsen commented on #240
I think the new stagger but without the left justify look better - like in example 1. Just make it so that it can cope with really small columns and so that the group labels are centred on the space between the dividers marking each group so things look even. You can calculate this using the number of columns in the group. For example in examples 2 and 6 the homo sapiens is too close to the divide

[2016-04-15 16:33] harryhoch commented on #240
Agreed. new stagger with no left justify. Thanks @yuanzhou

[2016-04-15 19:25] yuanzhou commented on #240
Based on our agreement, I went ahead and first centered the 1st group label based on the group grid width, and all the rest of the group labels are centered at the angled divider tip. This makes the whole UI look more balanced for the majority of instances.

And then I added functionalities to adjust the group label length if its width is wider than the corresponding group grid width.

And below a

[2016-04-15 19:28] harryhoch commented on #240
@yuanzhou , looks great! Thanks for pushing through.

@julesjacobsen , I think we're done.

[2016-04-15 19:28] #240 closed

[2016-04-18 11:10] julesjacobsen commented on #240
@yuanzhou You can't make the first column label longer? There is a lot of space available for it.

[2016-04-18 13:06] yuanzhou commented on #240
@julesjacobsen I just tweaked the 1st group label.

**When the label width is longer than the grid width**, it's scaled based on the grid width + the angled divider line's projection on X coordinate. This way we can have a longer label. And since the angled divider line's projection on X coordinate is a fixed width, we don't have to care about the second group length.

![a7](https://cloud.githubus

[2016-04-18 14:13] julesjacobsen commented on #240
Much better - can you do the same with the final column and then we'll call it done.

[2016-04-18 15:04] yuanzhou commented on #240
@julesjacobsen I don't think we should do the same with the final group label. The final label is anchored based on the last angled divider tip. There's no more divider on the right, and we can't just center the label based on the final group grid width, especially when there's only a few grid columns. And except the first group, all the rest of the groups has a divider on the left, it looks consi

[2016-04-18 16:20] julesjacobsen commented on #240
I meant can you think of a way to just make the final label longer too? Here the final label says 'Phenodigm predicted'. There is a lot more white space available. Can you just shift the labels for groups 1-N  (not group 0) to start from the anchor rather than centre on it, like you had 9 comments up where you started:

[code]
I liked those examples and just wanted you to shift the first and final

[2016-04-18 17:09] yuanzhou commented on #240
I shifted all the labels (1-N, not include the 1st group) to start from the divider tip instead of centering at it. And also adjusted the group width of the last group. Because we still need to set a fixed value of the width, I added the width of the Options box to the last group grid width, and subtracted the last divider's projection on X. This way the last label won't go beyond the right edge o

[2016-04-18 17:26] harryhoch commented on #240
@yuanzhou, awesome. It's done.

[2016-04-19 08:40] julesjacobsen commented on #240
@yuanzhou - thank you., that's much better. So are you going to merge this into master now and release?

[2016-04-19 09:12] julesjacobsen commented on #130
I think this is necessary too. Consider the following case - There are two models, one which matches the given HP terms well and another with no match at all. The second simply vanishes, but it would, as Harry said be very useful to see that there are infact no decent matches. Hiding it is certainly unexpected behaviour. I supose you're doing something else now, but this would be a very good thing

[2016-04-19 11:53] harryhoch commented on #130
@julesjacobsen agreed. We've not found any particularly compelling approach to this problem. Let's try to give it some thoughts. Suggestions welcome.

[2016-04-19 12:13] julesjacobsen commented on #130
My expectation would be that there is simply a column containing the label, info and score, but with no coloured squares on the grid.

[2016-04-19 12:16] harryhoch commented on #130
@julesjacobsen, you mean a column for the model with no labels, right? This seems possible, but it's not a great use of screen space.  Also, if there are no matches, the score should be very low (if not zero), right?

[2016-04-19 12:38] yuanzhou commented on #240
@julesjacobsen Thank you as well. My plan is to merge it to master and I'll ask @harryhoch to review some code and help with testing. Then bump the npm version number and publish to npm registry. By then you should be able to just use the master branch code since I'll delete the impc-integration branch after merging. I can keep you posted once I got this done if you feel this is helpful.

[2016-04-19 12:48] julesjacobsen commented on #130
Like this:

![nomatchexample](https://cloud.githubusercontent.com/assets/1576670/14639453/ccc90178-0634-11e6-854a-bf87887d955c.png)

Yes, the score should be zero, but I still expect there to be a blank column. I wouldn't consider it a waste of space if you want to see that there are no matches. The label is visible and the information for the entity is still present in the mouseover, so it's far

[2016-04-19 12:53] harryhoch commented on #130
Ok. @julesjacobsen, can we get release now and put this on the short list of priority enhancements?

[2016-04-19 12:56] julesjacobsen commented on #130
Sure, go for it.

[2016-04-19 12:57] harryhoch commented on #130
thanks!

[2016-04-26 22:06] jmcmurry opened #245 "Indicate number of unmatched phenotypes per column"
This is really more of an owlsim / scigraph issue but manifesting [here](https://monarchinitiative.org/analyze/phenotypes/?input_items=HP%3A0002067+HP%3A0002322+HP%3A0000726&mode=search&target_species=9606&limit=100).

It is not clear why we're seeing higher scores for diseases that have fewer phenotype matches. I expected this to be the result of slightly different scoring, or weighting by IC sco

[2016-04-26 22:12] jnguyenx commented on #245
Scoring is done by the owlsim server. @cmungall must have answers for that.

[2016-04-26 23:27] cmungall commented on #245
we have an option to show unmatched phenotypes for the query, but not for the matches. If we did, you'd see the lower scoring ones would have many unmatched phenotypes

[2016-04-27 03:48] jmcmurry commented on #245
Ah right; of course. Perhaps then, phenogrid could at least have a number for each column showing how many unmatched phenotypes there are? That would help make more sense of reports like this.

[2016-04-27 04:20] mellybelly commented on #245
I've always disliked the hidden unmatched terms. If we implement a hierarchical y axis there might be a way to render them differently rather than hiding them

On Apr 26, 2016, at 8:49 PM, Julie McMurry <notifications@github.com<mailto:notifications@github.com>> wrote:

Ah right; of course. Perhaps then, phenogrid could at least have a number for each column showing how many unmatched phenotypes t

[2016-04-27 04:27] jmcmurry commented on #245
On a related note, when we get to phenogrid from a disease page (compare tab) I can't figure out why it is that the top disease hit isn't either:

   A) a different disease altogether
     OR
   B) the same disease as the query disease but scoring a 100% profile match

We have neither A nor B now: the top hit is always **identical** in name/ID to the disease that spawned the query; however the mat

[2016-04-27 04:39] cmungall commented on #245
In this case, what is in owlsim doesn't match what is in solr. This is odd as the owlsim data is dumped directly from golr. It could be a data synchrony issue, or it could be something wrong with the golr-exporter script. @jnguyenx and @kltm can explore more tomorrow.

[2016-04-27 04:42] cmungall commented on #245
Checked on beta, same issue. But it also showed odd fly matches.

Following up, we should not be including inferred phenotypes like these
https://beta.monarchinitiative.org/gene/FlyBase:FBgn0040074

(this belongs in a separate ticket, just noting here for now)

[2016-04-29 15:38] yuanzhou commented on #245
Let me know if there's any changes better to be made in Phenogrid, or just help with testing.

[2016-04-29 17:07] harryhoch commented on #245
@yuanzhou, don't worry about this for now.

[2016-05-03 16:05] harryhoch opened #246 "fix explanatory text for similarity scores"
I think the explanatory text associated with the similarity calculations might be a bit wrong.

For uniqueness, we say
 This is simply a reflection of the IC normalized based on the maxIC.
IC(PhenotypeInCommon)maxIC(AllPhenotypes)

I think there should be a division between those factors, not a mulitplication, so it should read...

IC(PhenotypeInCommon)/maxIC(AllPhenotypes)

Similarly, for ratio,

[2016-05-05 12:19] yuanzhou commented on #246
@harryhoch I'll get this fixed once @cmungall confirms this. Thanks!

[2016-05-05 23:43] cmungall commented on #246
+1

[2016-05-11 13:58] #246 closed

[2016-06-05 21:07] mellybelly opened #247 "misalignment of unmatched phenotypes link"
displaying in-line with the matched phenotypes

<img width="1440" alt="misaligned" src="https://cloud.githubusercontent.com/assets/796636/15808216/cfb4c810-2b26-11e6-9cf7-8a79382d9ea0.png">

[2016-06-05 21:17] mellybelly opened #248 "Can't read unmatched phenotypes"
The unmatched phenotypes come up in a box, but cannot be expanded to read long labels. I think expando/contracto at the bottom of the matched ones listed would be better.

See also #130 #245 and #247

<img width="912" alt="cantread" src="https://cloud.githubusercontent.com/assets/796636/15808251/f22a0580-2b27-11e6-93e7-05422cd9889f.png">

[2016-06-06 01:56] harryhoch commented on #247
@yuanzhou , this looks like an edge case. please take a look.

[2016-06-06 01:57] harryhoch commented on #248
@yuanzhou , would it be possible to revise the layout to account for the lengths of the labels?

[2016-06-06 12:15] yuanzhou commented on #247
I'm working on fixing it.

[2016-06-06 12:31] yuanzhou commented on #248
In the current version, the width of the unmatched box is calculated based on the actual width of the whole grid area. And a fixed length of the label is specified in CSS in order to align all the labels vertically. Showing the full length of each label will probably mess up the vertical alignment unless we show fewer columns with more space of each column. But this won't guarantee when there's a

[2016-06-06 12:36] harryhoch commented on #248
would it not work to do fewer columns if labels are longer?

[2016-06-06 14:27] yuanzhou commented on #247
@mellybelly thanks for reporting this issue. The misalignment was caused as a result of those "No matches" message on the top. The Unmatched link was aligned based on the phenogrid container but failed to take the height of those messages into account. I fixed this by moving those message to outside of the container.

[2016-06-06 14:27] #247 closed

[2016-06-06 14:39] yuanzhou commented on #248
Fixed and showing full label now. As a side effect, the labels won't be aligned vertically, which I think is fine.

![capture](https://cloud.githubusercontent.com/assets/195873/15825675/bad7000a-2bd2-11e6-908e-36f57bcb4291.PNG)

[2016-06-06 14:39] #248 closed

[2016-07-12 00:23] jmcmurry opened #249 "Add options menu to top left"
With the increase in the number of species in phenogrid, it is now usually impossible to see the options menu until well below the fold. I recommend moving the menu to the top left where it will be more readily seen. This recommendation is for both analyze phenotypes and for the compare tab. Thoughts? This could also be a quick fix for the c elegans duplication issue. https://github.com/monarch-in

[2016-07-12 01:12] harryhoch commented on #249
@jmcmurry, no argument there, but that's not because of the number of species - that's the number of phenotypes..

[2016-07-12 01:46] jmcmurry commented on #249
you're right; however, the further from the left the menu gets, the less obvious it is, I think.

[2016-07-12 04:06] jmcmurry commented on #249
A side benefit of this is that when unselecting taxon boxes, the options menu doesn't bounce all over the place as it does below.

<img width="1334" alt="screen shot 2016-07-11 at 9 02 22 pm" src="https://cloud.githubusercontent.com/assets/3658863/16754803/484d61c4-47ab-11e6-9351-2711677324f9.png">
<img width="1333" alt="screen shot 2016-07-11 at 9 02 14 pm" src="https://cloud.githubusercontent.co

[2016-07-13 21:58] #249 closed

[2016-07-19 18:39] cborromeo commented on #224
@harryhoch @jmcmurry @yuanzhou I'd like to weigh in on this.  I think we should limit the users to the top 100 results at the most.  Currently when we retrieve simsearch data, we limit it to the top 100 matches in the target species.  Most disease searches will return far more than 100 hits per taxon (I think there may be 54k hits in most cases).  How reliable are the results outside of the top 10

[2016-07-19 18:57] harryhoch commented on #224
@cborromeo, I like the plus sign. Nice addition.

As far as going beyond the top 100, but I will defer to the others. @jmcmurry, what do you think?

[2016-07-19 19:35] jmcmurry commented on #224
I don't think there's a huge benefit to including hits 101-1000 provided that we can operate on the results more easily. For instance, there may be a set of 12 phenotypes and two of these are rare or hallmark. You might want to limit hits to just those that have some kind of match on those two of interest and those might be further down the list. Or maybe we would have to re-run owlsim.

[2016-07-19 19:36] jmcmurry commented on #224
I like the addition of the + very much, but think we need a corresponding - to get back to the multispecies view.

[2016-07-19 19:38] cborromeo commented on #224
I agree with the (-) suggestion.  I will add that.

Can you provide more information regarding rare or hallmark phenotypes?  Is this information I returned by owlsim?  I don't think I've seen this information before.

[2016-07-19 20:46] jmcmurry commented on #224
Sorry to be so opaque. Don't worry about the hallmark features thing. We don't yet have the annotations structured in a way that can get us to that point. Nor do we have OwlSim3 wired in to enable the behavior I'm talking about. For future reference I was talking about something like this.
<img width="529" alt="screen shot 2016-07-19 at 1 43 29 pm" src="https://cloud.githubusercontent.com/assets/3

[2016-07-20 13:02] yuanzhou commented on #224
Analyze Phenotypes section allows users to specify the limit of columns. We should also make sure the (+) sign works in this case.

Another thing came to my mind is when we add the (+) by the end of each group label, we also need to make sure that sign will show up correctly when we reduce the number of columns per group. Because when the group label is wider than the actual group grid region, the

[2016-07-20 13:07] harryhoch commented on #224
@cborromeo , can you check on the analyze phenotypes page and these edge cases?

[2016-07-20 13:16] cborromeo commented on #224
@yuanzhou can you give me a screenshot of a good test case?  Thanks, Chuck

[2016-07-20 13:41] cborromeo opened #252 "Add citation text when use clicks 'Save as SVG'"
When a user saves the phenogrid as an SVG image, they will most likely share it in some way (show a colleague, add it as an image in a publication, etc.).  We should replace the "Powered by The Monarch Initiative" text with more formal citation text at the bottom of the SVG image.

[2016-07-21 15:03] cborromeo commented on #224
@yuanzhou @harryhoch I tried the analyze page (see below).  I used about 20 genes (these become columns) and 3 phenotypes (rows).  This view does not display the taxon headers.  Is there a way to show the taxon headers?  If not, I don't think my changes are affected by this case.
![screen shot 2016-07-21 at 10 59 46 am](https://cloud.githubusercontent.com/assets/5503816/17027653/bd4cf988-4f32-11e6

[2016-07-21 15:19] harryhoch commented on #224
I think @yuanzhou has to tackle this question.

[2016-07-21 17:53] yuanzhou commented on #224
@harryhoch @cborromeo more precisely we should call it "group names" instead of "taxon headers". And this behavior is totally expected because those group names are defined in the [gridskeletondata](https://github.com/monarch-initiative/phenogrid#gridskeletondata--object--required). As far as I can remember, only the defined group names will display. In the Analyze Phenotypes use case, we can't de

[2016-07-21 18:07] harryhoch commented on #224
thanks, @yuanzhou

[2016-07-21 18:27] jmcmurry commented on #224
Because in this use case there may be different species in consecutive single columns, it may be very difficult to have taxon headers rendered in the same way as we have done for the standard query. However, we should continue to think about it. In the meantime, species on hover should be doable. Right now it shows up as "compare" which is rather bewildering.

<img width="462" alt="screen shot 201

[2016-07-21 18:53] cborromeo opened #253 "Replace the species "compare" in phenogrid"
The phenogrid displays the text "Species: compare" in the hoverbox for a column when the user accesses phenogrid through the Analyze interface (see below).  The text should correspond to its actual species represented by the gene in the column.
<img width="462" alt="column_hover" src="https://cloud.githubusercontent.com/assets/5503816/17034938/d10aec30-4f52-11e6-8ef7-d37e35bf4f05.png">

[2016-07-21 18:53] cborromeo commented on #224
@jmcmurry good point, I've created a new bug for that issue #253

[2016-07-25 14:36] cborromeo commented on #253
@jmcmurry @harryhoch My changes are deployed to beta.monarchinitiative.org (which looks like it is down as of 10:26 AM EST July 25 Jeremy said he took beta down).  I tested my changes and I noticed a problem with the data returned by /compare.  The /compare code (used by the Analyze page) and the /simsearch/phenotype (used by the Disease page) handle the taxa differently.  The /simsearch/phenotype

[2016-07-25 14:44] harryhoch commented on #253
so in #4 above it does not have the taxon for 19090, where it should, as it does for #5? looks like a bug to me...

[2016-07-25 14:50] cborromeo commented on #253
@harryhoch That's correct.  I deliberately mixed human and non-human genes into the Analyze "Gene IDs" text box.  The only ones returning taxon data are the human genes.

[2016-07-25 14:56] cborromeo commented on #253
@harryhoch @yuanzhou this appears to have been reported by Zhou: https://github.com/monarch-initiative/monarch-app/issues/1024.  I followed the thread, but I don't see a resolution.

[2016-07-25 19:36] cborromeo commented on #135
@harryhoch Do you want me to look into this?  If so, is there a preference for the homolog or ortholog viewer?

[2016-07-25 20:51] cborromeo commented on #130
@harryhoch can we close this issue?  I think Zhou fixed this in this here: https://github.com/monarch-initiative/phenogrid/issues/173.  He lists the unmatched phenotypes below the grid.

[2016-07-25 20:55] jmcmurry commented on #130
Where can this fix be seen? Can we all please review before it is closed?

[2016-07-25 20:58] jmcmurry commented on #130
The unmatched phenotypes can currently be seen when clicked, however, so far users haven't actually been drawn to click there, and have been confused by it. I think the desired behavior is still to have the unmatched things show up on the left with the others. Perhaps with a horizontal line delineating the things unmatched in the query group versus the matched group. A list is better than nothing